<div class="slick-slider">
  <ul class="slick-slider__list">
    <li class="slick-slider__item slick-slider__item-1">
      <div class="slick-slider__content">
        <div class="slick-slider__title">
          Добро пожаловать в Феникс!
        </div>
        <div class="slick-slider__text">Единственный в стране центр изучения валютных рынков. </div>
        <a href="/training-practice" class="btn">Подробнее</a>
      </div>
    </li>

    <li class="slick-slider__item slick-slider__item-2">
      <div class="slick-slider__content">
        <div class="slick-slider__title">
          Совместные учебные программы
        </div>
        <div class="slick-slider__text">Сотрудничаем с передовыми вузами России </div>
        <a href="/training-practice" class="btn">Подробнее</a>
      </div>
    </li>

    <li class="slick-slider__item slick-slider__item-3">
      <div class="slick-slider__content">
        <div class="slick-slider__title">
          Обучение в лучшем институте России
        </div>
        <div class="slick-slider__text">Закрепите знания на своем торговом счете </div>
        <a href="/training-practice" class="btn">Подробнее</a>
      </div>
    </li>
  </ul>
</div>