<div class="calendar">
  <div class="center">
    <div class="title">Расписание занятий</div>
    <div class="column">
      <div class="column-item">
        <div id="calendar" class="calendar-item"></div>
      </div>
      <div class="column-item">
        <div class="calendar-block-list">
          <div class="calendar-block-item calendar-block-item--active">
            <div class="calendar-block-date">
              Чт, 25 октября
            </div>
            <ul>
              <li>
                <span class="time">10:00</span>
                <span>Неподтвержденные точки</span>
              </li>
              <li>
                <span class="time">10:00</span>
                <span>Стратегии и тактики на фондовом рынке</span>
              </li>
              <li>
                <span class="time">10:00</span>
                <span>Свечной анализ</span>
              </li>
            </ul>
          </div>
          <div class="calendar-block-item">
            <div class="calendar-block-date">
              Чт, 26 октября
            </div>
            <ul>
              <li>
                <span class="time">10:00</span>
                <span>Неподтвержденные точки</span>
              </li>
              <li>
                <span class="time">10:00</span>
                <span>Стратегии и тактики на фондовом рынке</span>
              </li>
              <li>
                <span class="time">10:00</span>
                <span>Свечной анализ</span>
              </li>
            </ul>
          </div>
          <div class="calendar-block-item">
            <div class="calendar-block-date">
              Чт, 27 октября
            </div>
            <ul>
              <li>
                <span class="time">10:00</span>
                <span>Неподтвержденные точки</span>
              </li>
              <li>
                <span class="time">10:00</span>
                <span>Стратегии и тактики на фондовом рынке</span>
              </li>
              <li>
                <span class="time">10:00</span>
                <span>Свечной анализ</span>
              </li>
            </ul>
          </div>
          <div class="calendar-block-item">
            <div class="calendar-block-date">
              Чт, 28 октября
            </div>
            <ul>
              <li>
                <span class="time">10:00</span>
                <span>Неподтвержденные точки</span>
              </li>
              <li>
                <span class="time">10:00</span>
                <span>Стратегии и тактики на фондовом рынке</span>
              </li>
              <li>
                <span class="time">10:00</span>
                <span>Свечной анализ</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>