{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block content %}
  <div class="breadcrumbs">
    <div class="breadcrumbs__center">
      <a href="/">Главная</a>
      <span>Об институте</span>
    </div>
  </div>
  <div class="content">
    <div class="center">
      <div class="title">{{ title }}</div>
      <div class="content-wrap">
        <aside>
          {{ render(controller('App\\Controller\\SubMenuAboutPageController::index')) }}
          {{ render(controller('App\\Controller\\NewsController::sideBarBlock')) }}
        </aside>
        <div class="content-block">
          <div class="block-advn">
            <div class="center">
              <div class="block-advn-list">
                <div class="block-advn-item">
                  <div class="subtitle">
                    НАУЧНЫЙ ЦЕНТР
                  </div>
                  <div class="block-advn-text">
                    <p>Мы изучаем рынок, изучаем его тенденции, значимые факторы, отслеживаем события и
                      их влияние на ситуацию. Мы подходим к нему не с эмпирических позиций и не на
                      интуиции – мы ищем и находим закономерности и правила, выявляя их на ранних
                      этапах и позволяя воспользоваться трендом до того, как он станет очевиден другим
                      участникам рынка.</p>
                  </div>
                </div>

                <div class="block-advn-item">
                  <div class="subtitle">
                    ОБРАЗОВАТЕЛЬНАЯ ОРГАНИЗАЦИЯ
                  </div>
                  <div class="block-advn-text">
                    <p>Мы даём необходимую теорию в области финансовых рынков, учим практическим навыкам
                      и постоянно обновляем программу с учётом результатов наших исследований. Учебные
                      центры Forex есть у многих форекс-компаний, но только у нас ведётся активная
                      научная работа, которая позволяет нашим слушателям быть в курсе всех изменений
                      на рынке.</p>
                  </div>
                </div>

                <div class="block-advn-item">
                  <div class="subtitle">
                    СООБЩЕСТВО
                  </div>
                  <div class="block-advn-text">
                    <p>Мы верим в синергию знаний и обмен опытом, идеями и мнениями. Мы убеждены, что
                      только общаясь с другими увлечёнными людьми можно придумать что-то новое и
                      увидеть ранее невидимые связи. Как мы обучаем наших слушателей, так и наши
                      слушатели обучают нас, предлагая нестандартные идеи и свежие мысли, которые мы
                      подвергаем научной проверке.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <p>Реалии времени таковы: в финансово грамотном населении заинтересовано не только правительство, но и
            само общество. Именно поэтому, в последнее время, в прессе все чаще появляются обсуждения финансовых
            инструментов, которые позволят частным инвесторам (не только с миллионными вложениями, но и с
            небольшими суммами) получить дополнительный доход. От того, насколько быстро данная программа быстро
            реализуется, выиграет и общество, и Россия в целом. Именно грамотное инвестирование позволит
            населению участвовать в развитии экономики страны, что несомненно скажется положительно на
            доходах.</p>
          <p> Ключевое слово здесь — грамотное инвестирование.</p>
          <p> Институт Трейдинга и Инвестиций «Феникс» – это сообщество тех, кто хочет изучать, узнавать и
            совершенствовать своё понимание рынка. Мы - единственный в России научно-практический центр,
            объединяющий аналитиков, преподавателей и практиков на одной площадке. Деятельность Института
            «Феникс» направлена на изучение и исследование финансовых рынков.</p>
          <p> Трейдер – профессия будущего. Население России, конечно, отстает в финансовой грамотности получения
            дохода с помощью различных финансовых инструментов, от Европы и Америки, но все же с каждым годом
            процент «продвинутых» инвесторов растет! А это означает, что данная ниша – трейдинг на финансовых
            рынках, будет весьма востребована. И дает каждому возможность стать - одним из лучших трейдеров
            России.</p>
          <p> Конечно, большинство трейдеров по своей природе – единоличники. Они сами анализируют риски, сами
            разрабатывают торговую стратегию и принимают решения. Успешные методики тщательно оберегаются,
            перспективные идеи удерживаются «при себе» как источник потенциальной выгоды. Это приводит к
            самоизоляции участников и стагнации опыта в торговли.</p>
          <p> Институт «Феникс» ломает этот стереотип и приглашает всех участников сделать то же самое.</p>


          <div class="license">
            <div class="center">
              <div class="title">
                Наша лицензия
              </div>
              <div class="license__list">
                <div class="license__item">
                  <a href="/img/lis1.jpg" data-lightbox="roadtrip">
                    <img src="/img/lis1.jpg" class="licenz__img">
                  </a>
                </div>
                <div class="license__item">
                  <a href="/img/lis3.jpg" data-lightbox="roadtrip">
                    <img src="/img/lis3.jpg" class="licenz__img">
                  </a>
                </div>
                <div class="license__item">
                  <a href="/img/lis2.jpg" data-lightbox="roadtrip">
                    <img src="/img/lis2.jpg" class="licenz__img">
                  </a>
                </div>
              </div>
              <div class="license-download-wrap">
                <a href="/images/documents/1_offer-online-free.pdf" target="_blank"  class="license-download">
                  <span class="license-download-img"><img src="/img/download.png" alt=""></span>
                  <span class="license-download-subtext">Публичный Договор-оферта оказания безвозмездных услуг по обучению (онлайн)</span>
                </a>
                <a href="/images/documents/2_offer-office.pdf" target="_blank" class="license-download">
                  <span class="license-download-img"><img src="/img/download.png" alt=""></span>
                  <span class="license-download-subtext">Публичный Договор-оферта оказания платных услуг по очному обучению (в офисе)</span>
                </a>
                <a href="/images/documents/3_dogovor.pdf" target="_blank" class="license-download">
                  <span class="license-download-img"><img src="/img/download.png" alt=""></span>
                  <span class="license-download-subtext">Договор об оказании платных образовательных услуг</span>
                </a>
                <a href="/images/documents/4_act.pdf" target="_blank" class="license-download">
                  <span class="license-download-img"><img src="/img/download.png" alt=""></span>
                  <span class="license-download-subtext">Акт о надлежащем исполнении обязательств по договору об оказании платных образовательных услуг</span>
                </a>
                <a href="/images/documents/5_license.pdf" target="_blank" class="license-download">
                  <span class="license-download-img"><img src="/img/download.png" alt=""></span>
                  <span class="license-download-subtext">Лицензия на осуществление образовательной деятельности</span>
                </a>
                <div class="license-download-text">Положение о порядке оказания платных образовательных
                  услуг по дополнительным образовательным программам в институте трейдинга и
                  инвестиций «ФЕНИКС»
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
{% endblock %}