{% extends 'base.html.twig' %}
{% set month =
{
'January': 'января',
'February': 'февраля',
'March': 'марта',
'April': 'апреля',
'May': 'мая',
'June': 'июня',
'July': 'июля',
'August': 'августа',
'September': 'сентября',
'October': 'октября',
'November': 'ноября',
'December': 'декабря',
}
%}
{% block title %}{{ title }}{% endblock %}
{% block content %}
  <div class="breadcrumbs">
    <div class="breadcrumbs__center">
      <a href="/">Главная</a>
      <a href="/analytics">Аналитика</a>
      <span>{{ type_name.type }}</span>
    </div>
  </div>
  <div class="content trainer-wrapper">
    <div class="center">
      <div class="title">{{ title }}</div>
      <div class="content-wrap">
        <aside>
          {{ render(controller('App\\Controller\\NewsController::sideBarBlock')) }}
        </aside>
        <div class="content-block">
          <div class="news-block">
            {% for item in items %}
              <a href="/analytics/{{ type }}/{{ item.id }}" class="news-block-item">
              <span class="news-block-img"><img src="/images/analytics/{{ item.imageName }}" alt=""></span>
              <span class="news-block-content">
								<span class="news-block-title">{{ item.title }}</span>
								<p>{{ item.body|truncate(200) }}</p>
								<span class="news-block-content-bottom">
									<span class="date"> {{ item.updatedAt|date("j") }} {{ month[item.updatedAt|date("F")] }} {{ item.updatedAt|date("Y") }}</span>
									{#<span class="info-block">#}
										{#<span class="info">21</span>#}
										{#<span class="rating">3052</span>#}
									{#</span>#}
								</span>
							</span>
            </a>
            {% endfor %}
          </div>
            {{ knp_pagination_render(items,'pagination/pagination.html.twig') }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}