{% extends 'base.html.twig' %}
{% set month =
  {
    'January': 'января',
    'February': 'февраля',
    'March': 'марта',
    'April': 'апреля',
    'May': 'мая',
    'June': 'июня',
    'July': 'июля',
    'August': 'августа',
    'September': 'сентября',
    'October': 'октября',
    'November': 'ноября',
    'December': 'декабря',
  }
%}
{% block title %}{{ title }}{% endblock %}

{% block content %}
  <div class="breadcrumbs">
    <div class="breadcrumbs__center">
      <a href="/">Главная</a>
      <span>Аналитика</span>
    </div>
  </div>
  <div class="content analytics-section">
    <div class="center">
      <div class="title">аналитика</div>
      <div class="content-wrap">
        <aside>
          {{ render(controller('App\\Controller\\NewsController::sideBarBlock')) }}
        </aside>
        <div class="content-block">
          {% for block in data %}
            <div class="analytics-section-block">
              <div class="analytics-section-block-title">
                {{ block.type }}
              </div>
              <div class="column">
                <div class="column-item">
                  <a href="/analytics/{{ block.items.0.analyticsType.typeAlias }}/{{ block.items.0.id }}" class="news-block-item">
                    <span class="news-block-img"><img src="/images/analytics/{{ block.items.0.imageName }}"
                                                      alt=""></span>
                    <span class="news-block-content">
											<span class="news-block-title">{{ block.items.0.title }}</span>
											<p>{{ block.items.0.body|truncate(200) }}</p>
											<span class="news-block-content-bottom">
												<span class="date">{{ block.items.0.updatedAt|date("j") }} {{ month[block.items.0.updatedAt|date("F")] }} {{ block.items.0.updatedAt|date("Y") }}</span>
                        {#<span class="info-block">#}
                        {#<span class="info">21</span>#}
                        {#<span class="rating">3052</span>#}
                        {#</span>#}
                        {#{{ week[day.date|date("l")] }}, {{ day.date|date("j") }} {{ month[day.date|date("F")] }}#}
											</span>
										</span>
                  </a>
                </div>
                <div class="column-item">
                  <a href="/analytics/{{ block.items.1.analyticsType.typeAlias }}/{{ block.items.1.id }}" class="news-block-item">
                    <span class="news-block-img"><img src="/images/analytics/{{ block.items.1.imageName }}" alt=""></span>
                    <span class="news-block-content">
											<span class="news-block-content-top">
												<span class="news-block-title">{{ block.items.1.title }}</span>
												<p>{{ block.items.1.body|truncate(200) }}</p>
											</span>
											<span class="news-block-content-bottom">
												<span class="date">{{ block.items.1.updatedAt|date("j") }} {{ month[block.items.1.updatedAt|date("F")] }} {{ block.items.1.updatedAt|date("Y") }}</span>
                        {#<span class="info-block">#}
                          {#<span class="info">21</span>#}
                          {#<span class="rating">3052</span>#}
                        {#</span>#}
											</span>
										</span>
                  </a>
                  <a href="/analytics/{{ block.items.2.analyticsType.typeAlias }}/{{ block.items.2.id }}" class="news-block-item">
                    <span class="news-block-img"><img src="/images/analytics/{{ block.items.2.imageName }}" alt=""></span>
                    <span class="news-block-content">
											<span class="news-block-content-top">
												<span class="news-block-title">{{ block.items.2.title }}</span>
												<p>{{ block.items.2.body|truncate(200) }}</p>
											</span>
											<span class="news-block-content-bottom">
												<span class="date">{{ block.items.2.updatedAt|date("j") }} {{ month[block.items.2.updatedAt|date("F")] }} {{ block.items.2.updatedAt|date("Y") }}</span>
												{#<span class="info-block">#}
													{#<span class="info">21</span>#}
													{#<span class="rating">3052</span>#}
												{#</span>#}
											</span>
										</span>
                  </a>
                </div>
              </div>
              <a href="analytics/{{ block.link }}" class="all-news">Все новости</a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="about">
    <div class="rightarea-bg"></div>
    <div class="center">
      <div class="rightarea-content">
        <div class="subtitle">
          Об институте
        </div>
        <p>
          Институт Трейдинга и Инвестиций «Феникс» занимается изучением и моделированием ситуаций на финансовых рынках и
          обучением специалистов в сфере валютно-биржевых торговых инструментов. Подробнее о деятельности Института вы
          можете узнать в соответствующем разделе.
        </p>
        <a href="/about-page-info" class="btn">Подробнее</a>
      </div>
    </div>
  </div>
{% endblock %}