{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <div class="breadcrumbs">
    <div class="breadcrumbs__center">
      <a href="/">Главная</a>
      <a href="/about-page-info">Об институте</a>
      <span>Корпоративная жизнь</span>
    </div>
  </div>
  <div class="content start-up">
    <div class="center">
      <div class="title">{{ title }}</div>

      <div class="content-wrap">
        <aside>
          {{ render(controller('App\\Controller\\SubMenuAboutPageController::index')) }}
          {{ render(controller('App\\Controller\\NewsController::sideBarBlock')) }}
        </aside>

        <div class="content-block corporate-life">
          <div class="start-up-block">
            <div class="rightarea">
              <div class="rightarea-bg"></div>
              <div class="center">
                <div class="rightarea-content">
                  <div class="subtitle">
                    Команда
                  </div>
                  <p>Торговля на финансовых рынках – это жизнь, в которой мы можем совершать ошибки, учиться на них, испытывать различные эмоции (от горя до радости), искать друзей, постоянно получать новые знания и впечатления. «Феникс» - это место, где ты можешь применить изученную ранее теорию на практике, место, где твой ум и смекалка позволяют зарабатывать деньги. При этом, мы глубоко убеждены, что атмосфера нашего института, команда, которая здесь работает, нацелена только на покорение вершин, как профессиональных, так и финансовых! И разрядка от трудовых будней дает дополнительный стимул к действию.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="content-block-description">
            <div class="center">
              <h4 class="title">Новый год</h4>
              <p>Новый год – прекрасный светлый праздник, время, когда все загаданное сбывается, а все намеченные цели достигнуты! Каждый раз мы отмечаем его по-новому.</p>

              <div class="command">
                <div class="command-wrap">
                  <div class="command-slider">
                    <div class="slider-for">
                      <div class="slick-slide">
                        <img src="/images/corporate-life/new_year/slide-img1.jpg" alt="">
                      </div>
                      <div class="slick-slide">
                        <img src="/images/corporate-life/new_year/2.jpg" alt="">
                      </div>
                      <div class="slick-slide">
                        <img src="/images/corporate-life/new_year/L55B8253.jpg" alt="">
                      </div>
                      <div class="slick-slide">
                        <img src="/images/corporate-life/new_year/photo-11.jpg" alt="">
                      </div>
                      <div class="slick-slide">
                        <img src="/images/corporate-life/new_year/photo-12.jpg" alt="">
                      </div>
                      <div class="slick-slide">
                        <img src="/images/corporate-life/new_year/photo-13.jpg" alt="">
                      </div>
                      <div class="slick-slide">
                        <img src="/images/corporate-life/new_year/photo-14.jpg" alt="">
                      </div>
                    </div>
                    <div class="slider-nav">
                      <div class="slick-slide">
                        <img src="/images/corporate-life/new_year/slide-img1.jpg" alt="">
                      </div>
                      <div class="slick-slide">
                        <img src="/images/corporate-life/new_year/2.jpg" alt="">
                      </div>
                      <div class="slick-slide">
                        <img src="/images/corporate-life/new_year/L55B8253.jpg" alt="">
                      </div>
                      <div class="slick-slide">
                        <img src="/images/corporate-life/new_year/photo-11.jpg" alt="">
                      </div>
                      <div class="slick-slide">
                        <img src="/images/corporate-life/new_year/photo-12.jpg" alt="">
                      </div>
                      <div class="slick-slide">
                        <img src="/images/corporate-life/new_year/photo-13.jpg" alt="">
                      </div>
                      <div class="slick-slide">
                        <img src="/images/corporate-life/new_year/photo-14.jpg" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

