{% extends 'base.html.twig' %}

{% block stylesheets %}
  <link href="{{ asset('css/cripto-faculty.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
  <div class="breadcrumbs">
    <div class="breadcrumbs__center">
      <a href="/">Главная</a>
      <a href="/training-practice">Обучение и практика</a>
      <span>Криптовалютный факультет</span>
    </div>
  </div>

  <div class="content start-up">
    <div class="center">
      <div class="title">{{ title }}</div>
      <div class="content-wrap">
        <aside>
          {{ render(controller('App\\Controller\\SubMenuTrainingPracticeController::index')) }}
          {{ render(controller('App\\Controller\\NewsController::sideBarBlock')) }}
        </aside>

        <div class="content-block cripto-faculty">
          <div class="start-up-block">
            <div class="rightarea">
              <div class="rightarea-bg"></div>
              <div class="center">
                <div class="rightarea-content">
                  <div class="form">
                    <form action="">
                      <div class="subtitle">
                        Обучим заработку на криптовалюте
                      </div>
                      <div class="form__block">
                        <div class="form__line">
                          <label for="name">Ваше имя</label>
                          <input type="text" name="name" placeholder=" ">
                        </div>
                        <div class="form__line">
                          <label for="phone">Телефон</label>
                          <input type="text" name="phone" placeholder=" ">
                        </div>
                        <div class="form__line">
                          <label for="email">E-mail</label>
                          <input type="text" name="email" placeholder=" ">
                        </div>

                        <div class="form__line form__line--checkbox">
                          <input id="agree2" type="checkbox">
                          <label for="agree2">Согласен на обработку персональных данных </label>
                        </div>
                        <div class="form__line form__line--submit green">
                          <button type="submit" value="">записаться</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="block-advn">
            <div class="center">
              <div class="title">
                НАШИ ПРЕИМУЩЕСТВА
              </div>
              <div class="block-advn-list">
                <div class="block-advn-item">
                  <div class="block-advn-img">
                    <img src="/img/block-advn-img-4.png" alt="">
                  </div>
                  <div class="subtitle">
                    НАША КОМАНДА
                  </div>
                  <div class="block-advn-text">
                    <p>Профессионалы с многолетним опытом из разных областей. Мы - эксперты в инвестиционной сфере, нформационных технологиях и криптографии, юристы международного уровня со специализацией на финансовых рынках.</p>
                  </div>
                </div>

                <div class="block-advn-item">
                  <div class="block-advn-img">
                    <img src="/img/block-advn-img-5.png" alt="">
                  </div>
                  <div class="subtitle">
                    НАША СТРАТЕГИЯ
                  </div>
                  <div class="block-advn-text">
                    <p>Системный и межотраслевой подход, который позволяет ориентироваться в текущей ситуации рыночной неопределенности.</p>
                  </div>
                </div>

                <div class="block-advn-item">
                  <div class="block-advn-img">
                    <img src="/img/block-advn-img-6.png" alt="">
                  </div>
                  <div class="subtitle">
                    НАША МИССИЯ
                  </div>
                  <div class="block-advn-text">
                    <p>Предоставить клиентам лучший консультационный сервис, обеспечить прозрачную работу на рынке крипто-активов, помочь в управлении рисками с целью получения выдающейся доходности.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="cripto-faculty-info">
            <ul>
              <li class="conditions-block">
                <div class="conditions-block-wrapper">
                  <div class="conditions-block-wrapper-img">
                    <img src="/img/conditions-block--img-1.jpg" alt="">
                  </div>
                  <div class="conditions-block-wrapper-bottom">
                    <div class="conditions-block-title">Курс "Блокчейн для гуманитариев, а так же - не биткоином единым: Самые популярные криптовалюты и их перспективы"</div>
                    <div class="conditions-block-link">подробнее</div>
                  </div>
                </div>
                <div class="conditions-block-text">
                  <div class="column">
                    <div class="column-item">
                      <h4>План лекций</h4>
                      <p>1. Что такое криптовалюта.<br> Деньги будущего!?</p>
                      <p>2. История создания криптовалюты. <br>Кто основатель? Эволюция денег, можно назвать это так пройдя недолгий путь из электронных денег в денежные заместители и до самой валюты.</p>
                      <p>3. Виды криптовалют.<br> Какие на сегодняшний день уже есть они и какие перспективы в будущем.</p>
                      <p>4. Основные плюсы и недостатки этих денег.<br> Есть и плюсы и минусы в ноу хау, нужно разбираться подробней!</p>
                      <p>5. Блокчейн — что это?<br> Где эта технология будет востребована!? Блок транзакции, Цепочка блоков, Подтверждение транзакции, В чем сложность. Применение вне сферы криптовалют.</p>
                      <p>6. Как и где можно купить эту валюту.<br> Как создать кошелек, на каких биржах можно торговать, нужно ли платить налоги.</p>
                      <p>7. Майнинг — добыча валюты. <br>Стоит ли сейчас начинать? Как это сделать? прибыльно ли это? Скрытый майнинг, Майнинг криптовалюты.</p>
                    </div>
                    <div class="column-item">
                      <div class="form">
                        <form action="">
                          <div class="subtitle">
                            Записаться на курс
                          </div>
                          <div class="form__block">
                            <div class="form__line">
                              <label for="name">Ваше имя</label>
                              <input type="text" name="name" placeholder=" ">
                            </div>
                            <div class="form__line">
                              <label for="phone">Телефон</label>
                              <input type="text" name="phone" placeholder=" ">
                            </div>
                            <div class="form__line">
                              <label for="email">E-mail</label>
                              <input type="text" name="email" placeholder=" ">
                            </div>

                            <div class="form__line form__line--checkbox">
                              <input id="agree4" type="checkbox">
                              <label for="agree4">Согласен на обработку персональных данных </label>
                            </div>
                            <div class="form__line form__line--submit green">
                              <button type="submit" value="">записаться</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </li>


              <li class="conditions-block">
                <div class="conditions-block-wrapper">
                  <div class="conditions-block-wrapper-img">
                    <img src="/img/conditions-block--img-2.jpg" alt="">
                  </div>
                  <div class="conditions-block-wrapper-bottom">
                    <div class="conditions-block-title">Курс "ICO, майнинг, трейдинг, криптобиржи и другие аспекты заработка на криптовалютах"</div>
                    <div class="conditions-block-link">подробнее</div>
                  </div>
                </div>
                <div class="conditions-block-text">
                  <div class="column">
                    <div class="column-item">
                      <h4>План лекций</h4>
                      <p>1. Что такое ICO и зачем это нужно как для компании так и для нас с вами.<br> ICO – это первичное публичное размещение компаний.</p>
                      <p>2. С какими трудностями сталкиваются компании.<br> Почему компания успешна или не успешна от чего это будет зависеть?<br> Потому что это очень сильно влияет на дальнейшую цену.</p>
                      <p>3. Как готовится ICO и кто называет себя андеррайтерами. <br>Процесс подготовки достаточно долгий, тут мы и будем разбираться как это происходит.</p>
                      <p>4. Зачем компании проводят ICO плюсы и минусы.<br> Существует несколько основных причин почему компания хочет стать публичной во всех тонкостей мы и будем разбираться.</p>
                      <p>5. Кому еще выгодно проводить ICO.<br> Размещение крупных и перспективных компаний позволяет повысить общую ликвидность и объем торгов, а значит привлекает крупных инвесторов.</p>
                      <p>6. В чем различия ICO и IPO.<br> Сравнения и отличия, мы узнаем что такое токены.</p>
                    </div>
                    <div class="column-item">
                      <div class="form">
                        <form action="">
                          <div class="subtitle">
                            Записаться на курс
                          </div>
                          <div class="form__block">
                            <div class="form__line">
                              <label for="name">Ваше имя</label>
                              <input type="text" name="name" placeholder=" ">
                            </div>
                            <div class="form__line">
                              <label for="phone">Телефон</label>
                              <input type="text" name="phone" placeholder=" ">
                            </div>
                            <div class="form__line">
                              <label for="email">E-mail</label>
                              <input type="text" name="email" placeholder=" ">
                            </div>

                            <div class="form__line form__line--checkbox">
                              <input id="agree5" type="checkbox">
                              <label for="agree5">Согласен на обработку персональных данных </label>
                            </div>
                            <div class="form__line form__line--submit green">
                              <button type="submit" value="">записаться</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </li>

              <li class="conditions-block">
                <div class="conditions-block-wrapper">
                  <div class="conditions-block-wrapper-img">
                    <img src="/img/conditions-block--img-3.jpg" alt="">
                  </div>
                  <div class="conditions-block-wrapper-bottom">
                    <div class="conditions-block-title">Курс "Эффективные инструменты анализа рынка криптовалют"</div>
                    <div class="conditions-block-link">подробнее</div>
                  </div>
                </div>
                <div class="conditions-block-text">
                  <div class="column">
                    <div class="column-item">
                      <h4>Практическая часть — Прибыльные стратегии</h4>
                      <p>1. Релевантные экстремумы. Цена движется от уровня к уровня, наша задача видеть и знать эти уровни и будут ли крупные участники покупать или продавать валюту.</p>
                      <p>2. Три главных элемента технического анализа.<br>
                        Основные постулаты Доу — Какие основные постулаты на рынке, какие стадии в рынке существуют и как мы можем их использовать.<br>
                        Математический бенчмаркинг -  Изучение индикаторов, применяем их на графике и на каждом инструменте подбираем параметры. MA, MACD, Bbans, Fractals, ZigZag, RSI.<br>
                        Фигуры который должен знать каждый — Продолжения, развороты, неопределенности, чем нам это помогает на протяжении всей торговли.<br>
                      </p>
                      <p>3. Импульсы и коррекции, ускорение — замедление рынка.<br>
                        Рынок подвержен определенным колебаниям которые влияют на цену. Научись забирать прибыль с первого импульса.
                      </p>
                      <p>4. Методология входа в рынок — Способы входа в рынок  с максимально выгодными точками для нас.	</p>
                      <p>5. Мультисигнальные стратегии на криптовалюте — Научись  торговать внутри дня, узнаете о действующих стратегиях, видеть движения цен и извлекать из них прибыль.</p>
                    </div>
                    <div class="column-item">
                      <div class="form">
                        <form action="">
                          <div class="subtitle">
                            Записаться на курс
                          </div>
                          <div class="form__block">
                            <div class="form__line">
                              <label for="name">Ваше имя</label>
                              <input type="text" name="name" placeholder=" ">
                            </div>
                            <div class="form__line">
                              <label for="phone">Телефон</label>
                              <input type="text" name="phone" placeholder=" ">
                            </div>
                            <div class="form__line">
                              <label for="email">E-mail</label>
                              <input type="text" name="email" placeholder=" ">
                            </div>

                            <div class="form__line form__line--checkbox">
                              <input id="agree6" type="checkbox">
                              <label for="agree6">Согласен на обработку персональных данных </label>
                            </div>
                            <div class="form__line form__line--submit green">
                              <button type="submit" value="">записаться</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>

        </div>

      </div>
    </div>
  </div>

  {% include 'blocks/static_block/practice_block.html.twig' %}
{% endblock %}

