{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <div class="breadcrumbs">
    <div class="breadcrumbs__center">
      <a href="/">Главная</a>
      <a href="/about-page-info">Об институте</a>
      <span>Руководитель</span>
    </div>
  </div>
  <div class="content start-up">
    <div class="center">
      <div class="title">{{ title }}</div>
      <div class="content-wrap">
        <aside>
          {{ render(controller('App\\Controller\\SubMenuAboutPageController::index')) }}
          {{ render(controller('App\\Controller\\NewsController::sideBarBlock')) }}
        </aside>

        <div class="content-block">


        </div>
      </div>
    </div>
  </div>
{% endblock %}

