{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <div class="breadcrumbs">
    <div class="breadcrumbs__center">
      <a href="/">Главная</a>
      <a href="/training-practice">Обучение и практика</a>
      <span>{{ title }}</span>
    </div>
  </div>
  <div class="content start-up">
    <div class="center">
      <div class="title">{{ title }}</div>
      <div class="content-wrap">
        <aside>
          {{ render(controller('App\\Controller\\SubMenuTrainingPracticeController::index')) }}
          {{ render(controller('App\\Controller\\NewsController::sideBarBlock')) }}
        </aside>

        <div class="content-block">
          <div class="start-up-block">
            <div class="rightarea">
              <div class="rightarea-bg"></div>
              <div class="center">
                <div class="rightarea-content">
                  <div class="form">
                    <form action="">
                      <div class="subtitle">
                        Начни свою карьеру на фондовых рынках Запишись на курс FOCUS GROUP
                      </div>
                      <div class="form__block">
                        <div class="form__line">
                          <label for="name">Ваше имя</label>
                          <input type="text" name="name" placeholder=" ">
                        </div>
                        <div class="form__line">
                          <label for="phone">Телефон</label>
                          <input type="text" name="phone" placeholder=" ">
                        </div>
                        <div class="form__line">
                          <label for="email">E-mail</label>
                          <input type="text" name="email" placeholder=" ">
                        </div>

                        <div class="form__line form__line--checkbox">
                          <input id="agree2" type="checkbox">
                          <label for="agree2">Согласен на обработку персональных данных </label>
                        </div>
                        <div class="form__line form__line--submit green">
                          <button type="submit" value="">записаться</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="content-block-description">
            <div class="center">
              <h4>Описание</h4>
              <p>Длительность обучения - <strong>2 недели</strong></p>

              <p>При успешном прохождении курса выдается удостоверение о краткосрочном повышении квалификации. Это не просто программа обучения. Это – коуч с трейдерами, у которых есть чему поучиться. Эту программу нельзя рассказать. В ней необходимо участвовать! Мы назвали данную программу - ФОКУС – ГРУППА. Почему ФОКУС? Потому, что на данной программе фокусируемся на знаниях и на прибыли</p>


              <h4>Вы научитесь</h4>

              <p>Научитесь мыслить как трейдер</p>
              <p>Повысите свою доходность уже во время обучения</p>
              <p>Научитесь планировать свою торговлю</p>
              <p>И, самое важное, прокачаете свои знания под руководством опытного преподавателя</p>


              <h4>Результаты выпускников</h4>

              <p>Заработали свои  первые деньги на финансовом рынке уже во время обучения,  средний доход составил 10%-18%</p>

              <p>Структурировали свои знания, полученные в программе  START UP</p>

              <p>Освоили основы анализа рынка</p>

              <p>Научились работать с дневником трейдера</p>
              <p>Получили уверенность от общения с практикующими трейдерами</p>


              <h4>Коучи</h4>

              <p><a href="/images/coach_program/plan_udilov.jpg"><span>Евгений Удилов</span> <span class="grey">Программа</span></a></p>
              <p><a href="/images/coach_program/plan_sattarov.jpg"><span>Айрат Саттаров</span> <span class="grey">Программа</span></a></p>
              <p><a href="/images/coach_program/plan_soloduho.pdf"><span>Солодухо Максим</span> <span class="grey">Программа</span></a></p>

              <h4>Индивидуальное обучение</h4>

              <p>Персональные занятия в Институте проходят согласно выбранной Вами - программе, но по индивидуальному графику.</p>
              <p>Стоимость: <strong>60000 руб</strong></p>
              <a href="/shop/courses/11" class="btn-pay">Купить</a>

              <h4>Как проходит данный вид обучения?</h4>
              <p>Встреча с персональным коучем, где обсуждаются:</p>

              <ul>
                <li>Цели и пожелания учащегося;</li>
                <li>Опыт работы учащегося на финансовых рынках;</li>
                <li>Тип мышления (техника или фундамент);</li>
                <li>Желаемый размер доходности;</li>
                <li>Желаемая частота торговли;</li>
                <li>Согласование графика посещения занятий;</li>
                <li>Создание методики индивидуальной подготовки;</li>
                <li>Обсуждение правил пользования тестером стратегий и объяснение техники выполнения упражнений.</li>
              </ul>
              <p>Каждое персональное занятие проводится коучем. При необходимости, в процессе занятий он будет корректировать программу, в зависимости от степени вашего усвоения. Программа индивидуального обучения – эффективный способ сократить время, при этом – не экономя на качестве знаний.</p>
              <p>Стоимость: <strong>30000 руб</strong></p>

              <a href="/shop/courses/2" class="btn-pay">Купить</a>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="reviews-slider">
    <div class="center">
      <div class="title">Отзывы наших студентов</div>
      <ul class="reviews-block-slider">
        <li class="slick-slider__item  ">
          <div class="reviews-slider__content">
            <p>Мне очень нравится учиться трейдерству в школе Fenix, я обучаюсь у Карины с октября 2017г., Пришла случайно со знакомым , но очень понравилось. Это цвет нашей нации .Ребята все умные , с юмором и очень опрятные. Посещаю как могу, побывала у всех на занятиях, Геннадий Попов очень хорошо передает свои знания Геннадий Попов обаятельный человек и очень умный, отзывчивый и строгий ,Алексей Игнатенко очень юморной,и всё объясняет так доходчиво , что после его лекции что-то поняла в трейдерстве, Он просто прагматик и реалист, не витает в облаках и всё это смог передать нам на лекциях.Василий Поданев хорошо говорит о фондовом рынке и его надо просто слушать и слышать.Денис Лисицын это просто трудоголик и его информация о нефти заставила меня просто ахать и охать, так много мы все узнали о ней нашей кормилице, Сергей Титюхин это менеджер и прагматик , ценящий своё и чужое время , очень скорпулёзный и дотошный , но это очень надо в трейдерстве., Думаю что все как и я просто наслаждаются лекциями по обзору рынка Андрея Григорьевича Перекальского, Я чувствую, что его все полюбили, он очень красиво и доходчиво выстраивает свою мысль:она понятна и доступна всем.Каждому отвечает на вопросы , никого не забывает.Чувствуется что он МАЖОР в хорошем понимании этого слова и пусть он МАЖОР , но ОН для меня СОВРЕМЕННЫЙ ГЕРОЙ . ОН НАПОМИНАЕТ МНЕ ДОН КИХОТА.Он сражается с рынком и все рассказывает нам - тем, кто только встал на этот путь, так, что мы полюбили эту, пока что не совсем понятную, деятельность на Forex.Вчера была еще и на лекции Альберта Кятова. Думала он такой же как и мы пришел учиться , а он уже столько отучился и рассказал нам о том рынке, о котором я как-то подозревала что он существует .Он подтвердил мою интуицию.Очень красивые девушки в Фениксе, парням очень трудно с ними находиться "Красота- это страшная сила" .так говорила актриса Фаина Раневская и это я теперь увидела воочию, а моя Карина вообще классика жанра, Она какая-то африканка , но говорит по-русски, очень скрытная , но добрая и очень знает хорошо возможности каждого своего ученика.....Очень здорово,. что есть такая школа FENIX с такими VIP-специалистами Good laky Седова Елена</p>
            <div class="reviews-name-wrap">
              <div class="reviews-name">
                Влад Письменный
              </div>
              <div class="date">
                <span>22 фев 2018 в 13:44</span>  <a href="#" class="soc-item soc-item-vk" target="_blank"> </a>
              </div>
            </div>
          </div>
        </li>

        <li class="slick-slider__item  ">
          <div class="reviews-slider__content">
            <p>Мне очень нравится учиться трейдерству в школе Fenix, я обучаюсь у Карины с октября 2017г., Пришла случайно со знакомым , но очень понравилось. Это цвет нашей нации .Ребята все умные , с юмором и очень опрятные. Посещаю как могу, побывала у всех на занятиях, Геннадий Попов очень хорошо передает свои знания Геннадий Попов обаятельный человек и очень умный, отзывчивый и строгий ,Алексей Игнатенко очень юморной,и всё объясняет так доходчиво , что после его лекции что-то поняла в трейдерстве, Он просто прагматик и реалист, не витает в облаках и всё это смог передать нам на лекциях.Василий Поданев хорошо говорит о фондовом рынке и его надо просто слушать и слышать.Денис Лисицын это просто трудоголик и его информация о нефти заставила меня просто ахать и охать, так много мы все узнали о ней нашей кормилице, Сергей Титюхин это менеджер и прагматик , ценящий своё и чужое время , очень скорпулёзный и дотошный , но это очень надо в трейдерстве., Думаю что все как и я просто наслаждаются лекциями по обзору рынка Андрея Григорьевича Перекальского, Я чувствую, что его все полюбили, он очень красиво и доходчиво выстраивает свою мысль:она понятна и доступна всем.Каждому отвечает на вопросы , никого не забывает.Чувствуется что он МАЖОР в хорошем понимании этого слова и пусть он МАЖОР , но ОН для меня СОВРЕМЕННЫЙ ГЕРОЙ . ОН НАПОМИНАЕТ МНЕ ДОН КИХОТА.Он сражается с рынком и все рассказывает нам - тем, кто только встал на этот путь, так, что мы полюбили эту, пока что не совсем понятную, деятельность на Forex.Вчера была еще и на лекции Альберта Кятова. Думала он такой же как и мы пришел учиться , а он уже столько отучился и рассказал нам о том рынке, о котором я как-то подозревала что он существует .Он подтвердил мою интуицию.Очень красивые девушки в Фениксе, парням очень трудно с ними находиться "Красота- это страшная сила" .так говорила актриса Фаина Раневская и это я теперь увидела воочию, а моя Карина вообще классика жанра, Она какая-то африканка , но говорит по-русски, очень скрытная , но добрая и очень знает хорошо возможности каждого своего ученика.....Очень здорово,. что есть такая школа FENIX с такими VIP-специалистами Good laky Седова Елена</p>
            <div class="reviews-name-wrap">
              <div class="reviews-name">
                Влад Письменный
              </div>
              <div class="date">
                <span>22 фев 2018 в 13:44</span>  <a href="#" class="soc-item soc-item-vk" target="_blank"> </a>
              </div>
            </div>
          </div>
        </li>

        <li class="slick-slider__item  ">
          <div class="reviews-slider__content">
            <p>Мне очень нравится учиться трейдерству в школе Fenix, я обучаюсь у Карины с октября 2017г., Пришла случайно со знакомым , но очень понравилось. Это цвет нашей нации .Ребята все умные , с юмором и очень опрятные. Посещаю как могу, побывала у всех на занятиях, Геннадий Попов очень хорошо передает свои знания Геннадий Попов обаятельный человек и очень умный, отзывчивый и строгий ,Алексей Игнатенко очень юморной,и всё объясняет так доходчиво , что после его лекции что-то поняла в трейдерстве, Он просто прагматик и реалист, не витает в облаках и всё это смог передать нам на лекциях.Василий Поданев хорошо говорит о фондовом рынке и его надо просто слушать и слышать.Денис Лисицын это просто трудоголик и его информация о нефти заставила меня просто ахать и охать, так много мы все узнали о ней нашей кормилице, Сергей Титюхин это менеджер и прагматик , ценящий своё и чужое время , очень скорпулёзный и дотошный , но это очень надо в трейдерстве., Думаю что все как и я просто наслаждаются лекциями по обзору рынка Андрея Григорьевича Перекальского, Я чувствую, что его все полюбили, он очень красиво и доходчиво выстраивает свою мысль:она понятна и доступна всем.Каждому отвечает на вопросы , никого не забывает.Чувствуется что он МАЖОР в хорошем понимании этого слова и пусть он МАЖОР , но ОН для меня СОВРЕМЕННЫЙ ГЕРОЙ . ОН НАПОМИНАЕТ МНЕ ДОН КИХОТА.Он сражается с рынком и все рассказывает нам - тем, кто только встал на этот путь, так, что мы полюбили эту, пока что не совсем понятную, деятельность на Forex.Вчера была еще и на лекции Альберта Кятова. Думала он такой же как и мы пришел учиться , а он уже столько отучился и рассказал нам о том рынке, о котором я как-то подозревала что он существует .Он подтвердил мою интуицию.Очень красивые девушки в Фениксе, парням очень трудно с ними находиться "Красота- это страшная сила" .так говорила актриса Фаина Раневская и это я теперь увидела воочию, а моя Карина вообще классика жанра, Она какая-то африканка , но говорит по-русски, очень скрытная , но добрая и очень знает хорошо возможности каждого своего ученика.....Очень здорово,. что есть такая школа FENIX с такими VIP-специалистами Good laky Седова Елена</p>
            <div class="reviews-name-wrap">
              <div class="reviews-name">
                Влад Письменный
              </div>
              <div class="date">
                <span>22 фев 2018 в 13:44</span>  <a href="#" class="soc-item soc-item-vk" target="_blank"> </a>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}

