{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  {% include 'blocks/static_block/front_page/front_page--slider_block.html.twig' %}
  {{ render(controller('App\\Controller\\OurAdvantagesController::index')) }}
  {% include 'blocks/static_block/about_block.html.twig' %}
  {{ render(controller('App\\Controller\\TimeTablePageController::block')) }}
  {% include 'blocks/static_block/practice_block.html.twig' %}
  {{ render(controller('App\\Controller\\EducationalCoursesController::minimalVersionBlock')) }}
  {% include 'blocks/static_block/club_block.html.twig' %}
{% endblock %}

