{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <div class="breadcrumbs">
    <div class="breadcrumbs__center">
      <a href="/">Главная</a>
      <a href="/training-practice">Обучение и практика</a>
      <span>{{ title }}</span>
    </div>
  </div>
  <div class="content start-up">
    <div class="center">
      <div class="title">{{ title }}</div>
      <div class="content-wrap">
        <aside>
          {{ render(controller('App\\Controller\\SubMenuTrainingPracticeController::index')) }}
          {{ render(controller('App\\Controller\\NewsController::sideBarBlock')) }}
        </aside>

        <div class="content-block">
          <div class="start-up-block">
            <div class="rightarea">
              <div class="rightarea-bg"></div>
              <div class="center">
                <div class="rightarea-content">
                  <div class="form">
                    <form action="">
                      <div class="subtitle">
                        Начни свою карьеру на фондовых рынках Запишись на курс INTENSIVE
                      </div>
                      <div class="form__block">
                        <div class="form__line">
                          <label for="name">Ваше имя</label>
                          <input type="text" name="name" placeholder=" ">
                        </div>
                        <div class="form__line">
                          <label for="phone">Телефон</label>
                          <input type="text" name="phone" placeholder=" ">
                        </div>
                        <div class="form__line">
                          <label for="email">E-mail</label>
                          <input type="text" name="email" placeholder=" ">
                        </div>

                        <div class="form__line form__line--checkbox">
                          <input id="agree2" type="checkbox">
                          <label for="agree2">Согласен на обработку персональных данных </label>
                        </div>
                        <div class="form__line form__line--submit green">
                          <button type="submit" value="">записаться</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="content-block-description">
            <div class="center">
              <h4>Описание</h4>
              <p>Длительность обучения - <strong>2 месяца</strong></p>

              <p>Желающим получить свидетельства государственного образца о дополнительном профессиональном образовании,
                мы предлагаем курс «ОСНОВЫ ИНВЕСТИРОВАНИЯ НА ФИНАНСОВЫХ РЫНКАХ» в группе углубленного обучения
                «INTENSIVЕ”. Данная программа разработана и защищена специалистами Института Трейдинга и Инвестиций
                «ФЕНИКС», и основана на углубленном изучении методик торговли на финансовых рынках( Форекс, Фондовый
                рынок, товарно – сырьевой рынок) и их применения на практике. Лекции и мастер классы проводят опытные
                трейдеры и аналитики, читающие лекции в МГУ им. Ломоносова, Финансовом Университете при Правительстве
                Российской Федерации, в том числе выпускники программы MBA (Master of Business Administration).</p>

              <p>Программа INTENSIVE основана на углубленном изучении методик торговли на финансовых рынках (Форекс,
                фондовый рынок и др.) и их применении на практике. Программа рассчитана на два месяца обучения.</p>
              <p>Уже за 2 месяца Вы сможете спрогнозировать цену фьючерсов, опционов, валютных курсов на ближайшую
                перспективу. И заработать на этом. Уже за 2 месяца Вы сможете составить свой самостоятельный портфель
                пройдя путь от А до Я, и уже через месяц сможете анализировать и инвестировать в свой портфель фиксируя
                прибыль от 10% - 30% в месяц, как это делают наши выпускники.</p>


              <h4>Результат</h4>

              <p>Глубокое понимание рыночных трендов, психологии торговли и управления рисками.</p>


              <h4>Преимущества и особенности курса</h4>

              <p>В процессе обучения на наших курсах Форекс практике уделяется особое внимание, поэтому за каждым
                слушателем закреплено постоянное рабочее место с компьютером и доступом в Интернет, используемые для
                отработки навыков анализа ситуации на Форекс, практики торговли и управления рисками.</p>

              <p>Как проходит данный вид обучения?</p>
              <p>У слушателей программы есть возможность принять участие в учебной работе центра и провести семинар для
                начинающих трейдеров. Это помогает не только структурировать полученные знания, но и услышать свежие
                перспективные идеи.</p>

              <p>У слушателей программы есть возможность принять участие в учебной работе центра и провести семинар для
                начинающих трейдеров. Это помогает не только структурировать полученные знания, но и услышать свежие
                перспективные идеи.</p>

              <h4>Индивидуальное обучение</h4>
              <p>Персональные занятия в Институте проходят согласно выбранной Вами - программе, но по индивидуальному
                графику.</p>
              <p>Как проходит данный вид обучения?</p>
              <p>Встреча с персональным коучем, где обсуждаются:</p>
              <ul>
                <li>Цели и пожелания учащегося;</li>
                <li>Опыт работы учащегося на финансовых рынках;</li>
                <li>Тип мышления (техника или фундамент);</li>
                <li>Желаемый размер доходности;</li>
                <li>Желаемая частота торговли;</li>
                <li>Согласование графика посещения занятий;</li>
                <li>Создание методики индивидуальной подготовки;</li>
                <li>Обсуждение правил пользования тестером стратегий и объяснение техники выполнения упражнений.</li>
                <li>Каждое персональное занятие проводится коучем. При необходимости, в процессе занятий он будет
                  корректировать программу, в зависимости от степени вашего усвоения. Программа индивидуального обучения
                  – эффективный способ сократить время, при этом – не экономя на качестве знаний.
                </li>
              </ul>
              <p>Стоимость: 200000 руб.</p>

              <a href="/shop/courses/9" class="btn-pay">Купить</a>

              <h4>Как проходит данный вид обучения?</h4>
              <p>Встреча с персональным коучем, где обсуждаются:</p>

              <ul>
                <li>Цели и пожелания учащегося;</li>
                <li>Опыт работы учащегося на финансовых рынках;</li>
                <li>Тип мышления (техника или фундамент);</li>
                <li>Желаемый размер доходности;</li>
                <li>Желаемая частота торговли;</li>
                <li>Согласование графика посещения занятий;</li>
                <li>Создание методики индивидуальной подготовки;</li>
                <li>Обсуждение правил пользования тестером стратегий и объяснение техники выполнения упражнений.</li>
              </ul>

              <h4>Стоимость курса</h4>

              <p>Обучение по программе INTENSIVE платное - 100 000 рублей. Один час индивидуальных занятий - 2 000
                рублей. Для клиентов института со статусом STANDART предусмотрена гибкая система льгот по обучению. По
                всем вопросам обращайтесь к финансовым консультантам офиса.</p>
              <a href="/shop/courses/3" class="btn-pay">Купить</a>
              <h4>Программа курса Intensiv</h4>

              <ul>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>Организационное занятие</span>
                  </div>
                  <div class="conditions-block-text">
                    <p>На вводном занятии Вы ознакомитесь с процессом обучения, преподавателями, порядком прохождения
                      различных дисциплин, документами выдаваемыми по окончанию обучения.</p>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>Технический анализ</span></div>
                  <div class="conditions-block-text">
                    <p>Как определить закономерности динамики цен? Когда линия поддержки переходит на сторону
                      сопротивления? Как определить направление тренда без трендовой линии? Как определить силу тренда?
                      Технический анализ даст ответы на эти и многие другие вопросы.</p>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>Вилы Эндрюса</span></div>
                  <div class="conditions-block-text">
                    <p>Вилы Эндрюса – незаменимый инструмент в руках умелого трейдера. Данный индикатор позволяет
                      установить цикличность колебаний курсов и определить точки разворота тренда. Научись использовать
                      этот простой и одновременно эффективный метод анализа рынка.</p>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>Индикаторный анализ</span></div>
                  <div class="conditions-block-text">
                    <p>
                      Для прогнозирования движения цены, помимо графического анализа, часто используется математический.
                      Специальные индикаторы позволяют сделать визуальную оценку графика более объективной и значительно
                      упростить работу трейдера.
                    </p>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>Свечной анализ</span></div>
                  <div class="conditions-block-text">
                    <p>
                      Свечной анализ – это воплощение восточного менталитета. Метод был изобретен в Японии, граждане
                      которой давно стали ключевыми участниками мировых финансовых рынков. О чем говорят тени,
                      отбрасываемые свечами? Узнай о преимуществах восточного анализа в Intensive ИТИ «FENIX»
                    </p>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>Внедиапазонная свеча</span></div>
                  <div class="conditions-block-text">
                    <p>Хочется простой и явный сигнал разворота тренда? Он есть! На этой лекции Вы узнаете, какая модель
                      возникает при резком развороте тренда. Применяя в торговле, Вы научитесь ловить новый тренд на
                      самом пике!
                    </p>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>Складной метр Лиховидова</span>
                  </div>
                  <div class="conditions-block-text">
                    <p>Рынок, порой, удивляет своей красотой – красивые модели, обилие фигур, сильные тренды. Как
                      работать на сильных «ускоряющихся» трендах? Как определить истинный глобальный разворот? Складной
                      метр Лиховидова как раз отвечает на эти вопросы. Хотите узнать? Приходите на лекцию!
                    </p>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>Метод Сперандео</span></div>
                  <div class="conditions-block-text">
                    <p>Для определения направления движения цены трейдеры строят линии тренда. Пошаговый метод Виктора
                      Сперандео позволяет сделать этот процесс наиболее объективным. Научись строить линии на
                      «раз-два-три»
                    </p>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>Уровни Фибоначчи</span></div>
                  <div class="conditions-block-text">
                    <p>Многие трейдеры создают весьма прибыльные стратегии, используя числа Фибоначчи. Об особенностях
                      применения этих магических чисел вы узнаете на наших лекциях.
                    </p>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>Фи торговля</span></div>
                  <div class="conditions-block-text">
                    <p>Каналы, тренды, время… в стратегиях Фибоначчи тоже есть эти инструменты. Как их использовать
                      правильно и зарабатывать с ними – узнаете на лекции «фи-торговля»
                    </p>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>Стратегии и тактики</span></div>
                  <div class="conditions-block-text">
                    <p>Усреднение, добавление, замок… многие трейдеры боятся этих стратегий. А зря! На лекции мы
                      расскажем, как выгодно использовать тактики для своего депозита.
                    </p>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>Графический анализ</span></div>
                  <div class="conditions-block-text">
                    <p>Флаг, голова и плечи, треугольник… Знакомы эти фигуры? Есть по ним вопросы? На лекции
                      «Графический анализ» мы научим определять лжефигуры от истинных, рассмотрим совместимость с
                      техникой и покажем, как правильно торговать на этих фигурах голландского анализа.
                    </p>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>Волны Вульфа</span></div>
                  <div class="conditions-block-text">
                    <p>Какая модель разворачивает рынок так, что падение или рост составляет тысячи пунктов? Как заранее
                      определить глобальное падение или сильный рост на ближайшие недели? Модель Волны Вульфа появляется
                      как раз перед такими движениями! Как на этом заработать и где сейчас готовится мощный тренд?
                      Узнаете на лекции!
                    </p>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>Фундаментальный анализ</span></div>
                  <div class="conditions-block-text">
                    <p>Всемирно известные инвесторы Джордж Сорос и Уоррен Баффет строят свои торговые стратегии на
                      основе фундаментального анализа. Что делает этот способ прогнозирования изменения цен столь
                      эффективным? Как инфляция, уровень безработицы или ВНП влияют на валютные курсы? Об этом вы
                      узнаете на нашей лекции.
                    </p>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>Паттерны Гартли</span></div>
                  <div class="conditions-block-text">
                    <p>Взмах крыла бабочки на одном конце земного шара может вызвать ураган на другом. Бабочка Гартли –
                      один из нестандартных методов технического анализа, заслуживающий особого внимания. Оцени «эффект
                      бабочки» на наших лекциях.
                    </p>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>Метод Динаполи</span></div>
                  <div class="conditions-block-text">
                    <p>Джо ДиНаполи – трейдер с более чем 25-летним опытом и один из самых известных мировых экспертов в
                      области торговли. Выйди на новый уровень, освоив метод анализа рынка ДиНаполи: подтверди
                      «согласие» и решись на «свидание».
                    </p>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>Психология торговли</span></div>
                  <div class="conditions-block-text">
                    <p>Невозможно грамотно управлять капиталом, не управляя своими эмоциями. Психология – один из
                      ключевых факторов, напрямую влияющих на успех сделки. Человек и торговая система: кто кем
                      управляет? Узнай об этом на наших лекциях.
                    </p>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>Корреляция валютных пар</span>
                  </div>
                  <div class="conditions-block-text">
                    <p>В большой семье валютных пар часто складываются непростые отношения. Валюты могут быть близкими и
                      не очень, но, тем не менее, они оказывают друг на друга колоссальное влияние. Анализируя
                      взаимосвязь между курсами различных валют, вы сможете лучше понять и значительно упростить процесс
                      торговли.
                    </p>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>Основы волнового анализа</span>
                  </div>
                  <div class="conditions-block-text">
                    <p>Волновой анализ – ваш навигатор в океане рынка, который поможет вам занять самую выгодную позицию
                      на меняющемся валютном рынке.
                    </p>
                  </div>
                </li>
              </ul>

              <h4>Фондовый рынок</h4>

              <ul>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>Азбука фондового рынка</span></div>
                  <div class="conditions-block-text">
                    <p>Предупрежден, значит, вооружен, гласит пословица. Любая ситуация, если знаешь азы и нюансы,
                      поддается контролю. На этой лекции Вы вооружитесь полным комплектом для контроля деталей фондового
                      рынка
                    </p>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>Инструменты фондового рынка</span>
                  </div>
                  <div class="conditions-block-text">
                    <p>Как торговать на фондовом рынке? Какими инструментами, помимо акций и индексов используют в
                      торговле? Как учитывать изменения цены на эти инструменты в своей торговле? Полный инструментарий
                      и инструкцию к применению Вы получите у нас.
                    </p>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>Фундаментальный анализ фондового рынка</span>
                  </div>
                  <div class="conditions-block-text">
                    <p>Упала безработица в США – позитив. Американская компания получила убыток за квартал – негатив.
                      Какая новость сильнее? Куда же пойдет рынок? На фундаментальном анализе мы рассмотрим всё, что
                      влияет на ценообразование на рынке акций.
                    </p>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span>
                    <span>Обзор фондового рынка (Discussion)</span></div>
                  <div class="conditions-block-text">
                    <p>Вы занятой человек и у вас нет времени для самостоятельного анализа валют? Воспользуйтесь обзором
                      рынка, который проводят наши специалисты, и получите полную картину событий для принятия
                      максимально эффективных решений.
                    </p>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>Портфельное инвестирование</span>
                  </div>
                  <div class="conditions-block-text">
                    <p>Банки, хедж-фонды, инвестиционные компании всегда держат портфель акций и зарабатывают на нем.
                      Это безопасно, надежно и прибыльно. Хотите постичь искусство составления портфелей? Тогда Вам на
                      лекцию!
                    </p>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span>
                    <span>Корреляция фондового рынка и Forex</span></div>
                  <div class="conditions-block-text">
                    <p>Фондовый рынок высчитывается в той валюте, в стране которой он находится. Валюта – акции… Всегда
                      ли они разнонаправленны? Как заработать на перекатывающейся ликвидности и поймать долгий
                      устойчивый тренд? Научитесь держать руку на пульсе!
                    </p>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>Теория Марковица</span></div>
                  <div class="conditions-block-text">
                    <p>А можно ли математически рассчитать портфель, не вдаваясь в подробности компаний и получить
                      прибыль? Такая функция есть! На лекции Вы узнаете о формуле успешного портфеля легендарного
                      Марковица.
                    </p>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span>
                    <span>Классические модели инвестирования</span></div>
                  <div class="conditions-block-text">
                    <p>У всего есть стандарты. Многие успешные трейдеры импровизируют на рынке, однако, всегда
                      ориентировались на классические стандарты. Классика всегда в моде. Какова же классика в
                      инвестировании? Об этом мы поговорим на лекции «Классические модели инвестирования»
                    </p>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span> Постулаты Чарльза Доу </span>
                  </div>
                  <div class="conditions-block-text">
                    <p>Говорят на рынке: Если торговать только по постулатам Доу, можно ежемесячно увеличивать торговлей
                      счет на 60%. Как же их применять в торговле? Как? А вот на лекции и расскажем!
                    </p>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>Мани менеджмент</span></div>
                  <div class="conditions-block-text">
                    <p>Знание и соблюдение правил управления капиталом – неотъемлемая часть успеха в торговле. Money
                      management научит вас контролировать каждый тактический шаг и грамотно распоряжаться капиталом.
                    </p>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>Мультивопные линии</span></div>
                  <div class="conditions-block-text">
                    <p>На наших занятиях вы узнаете об истории создания и практическом применении мультивопных линий, а
                      также выясните, почему их называют «волшебными наклонными». Взгляните на торговлю под новым углом.
                    </p>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>Защита личного инвестиционного портфеля</span>
                  </div>
                  <div class="conditions-block-text">
                    <p></p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="reviews-slider">
    <div class="center">
      <div class="title">Отзывы наших студентов</div>
      <ul class="reviews-block-slider">
        <li class="slick-slider__item  ">
          <div class="reviews-slider__content">
            <p>Мне очень нравится учиться трейдерству в школе Fenix, я обучаюсь у Карины с октября 2017г., Пришла
              случайно со знакомым , но очень понравилось. Это цвет нашей нации .Ребята все умные , с юмором и очень
              опрятные. Посещаю как могу, побывала у всех на занятиях, Геннадий Попов очень хорошо передает свои знания
              Геннадий Попов обаятельный человек и очень умный, отзывчивый и строгий ,Алексей Игнатенко очень юморной,и
              всё объясняет так доходчиво , что после его лекции что-то поняла в трейдерстве, Он просто прагматик и
              реалист, не витает в облаках и всё это смог передать нам на лекциях.Василий Поданев хорошо говорит о
              фондовом рынке и его надо просто слушать и слышать.Денис Лисицын это просто трудоголик и его информация о
              нефти заставила меня просто ахать и охать, так много мы все узнали о ней нашей кормилице, Сергей Титюхин
              это менеджер и прагматик , ценящий своё и чужое время , очень скорпулёзный и дотошный , но это очень надо
              в трейдерстве., Думаю что все как и я просто наслаждаются лекциями по обзору рынка Андрея Григорьевича
              Перекальского, Я чувствую, что его все полюбили, он очень красиво и доходчиво выстраивает свою мысль:она
              понятна и доступна всем.Каждому отвечает на вопросы , никого не забывает.Чувствуется что он МАЖОР в
              хорошем понимании этого слова и пусть он МАЖОР , но ОН для меня СОВРЕМЕННЫЙ ГЕРОЙ . ОН НАПОМИНАЕТ МНЕ ДОН
              КИХОТА.Он сражается с рынком и все рассказывает нам - тем, кто только встал на этот путь, так, что мы
              полюбили эту, пока что не совсем понятную, деятельность на Forex.Вчера была еще и на лекции Альберта
              Кятова. Думала он такой же как и мы пришел учиться , а он уже столько отучился и рассказал нам о том
              рынке, о котором я как-то подозревала что он существует .Он подтвердил мою интуицию.Очень красивые девушки
              в Фениксе, парням очень трудно с ними находиться "Красота- это страшная сила" .так говорила актриса Фаина
              Раневская и это я теперь увидела воочию, а моя Карина вообще классика жанра, Она какая-то африканка , но
              говорит по-русски, очень скрытная , но добрая и очень знает хорошо возможности каждого своего
              ученика.....Очень здорово,. что есть такая школа FENIX с такими VIP-специалистами Good laky Седова
              Елена</p>
            <div class="reviews-name-wrap">
              <div class="reviews-name">
                Влад Письменный
              </div>
              <div class="date">
                <span>22 фев 2018 в 13:44</span> <a href="#" class="soc-item soc-item-vk" target="_blank"> </a>
              </div>
            </div>
          </div>
        </li>

        <li class="slick-slider__item  ">
          <div class="reviews-slider__content">
            <p>Мне очень нравится учиться трейдерству в школе Fenix, я обучаюсь у Карины с октября 2017г., Пришла
              случайно со знакомым , но очень понравилось. Это цвет нашей нации .Ребята все умные , с юмором и очень
              опрятные. Посещаю как могу, побывала у всех на занятиях, Геннадий Попов очень хорошо передает свои знания
              Геннадий Попов обаятельный человек и очень умный, отзывчивый и строгий ,Алексей Игнатенко очень юморной,и
              всё объясняет так доходчиво , что после его лекции что-то поняла в трейдерстве, Он просто прагматик и
              реалист, не витает в облаках и всё это смог передать нам на лекциях.Василий Поданев хорошо говорит о
              фондовом рынке и его надо просто слушать и слышать.Денис Лисицын это просто трудоголик и его информация о
              нефти заставила меня просто ахать и охать, так много мы все узнали о ней нашей кормилице, Сергей Титюхин
              это менеджер и прагматик , ценящий своё и чужое время , очень скорпулёзный и дотошный , но это очень надо
              в трейдерстве., Думаю что все как и я просто наслаждаются лекциями по обзору рынка Андрея Григорьевича
              Перекальского, Я чувствую, что его все полюбили, он очень красиво и доходчиво выстраивает свою мысль:она
              понятна и доступна всем.Каждому отвечает на вопросы , никого не забывает.Чувствуется что он МАЖОР в
              хорошем понимании этого слова и пусть он МАЖОР , но ОН для меня СОВРЕМЕННЫЙ ГЕРОЙ . ОН НАПОМИНАЕТ МНЕ ДОН
              КИХОТА.Он сражается с рынком и все рассказывает нам - тем, кто только встал на этот путь, так, что мы
              полюбили эту, пока что не совсем понятную, деятельность на Forex.Вчера была еще и на лекции Альберта
              Кятова. Думала он такой же как и мы пришел учиться , а он уже столько отучился и рассказал нам о том
              рынке, о котором я как-то подозревала что он существует .Он подтвердил мою интуицию.Очень красивые девушки
              в Фениксе, парням очень трудно с ними находиться "Красота- это страшная сила" .так говорила актриса Фаина
              Раневская и это я теперь увидела воочию, а моя Карина вообще классика жанра, Она какая-то африканка , но
              говорит по-русски, очень скрытная , но добрая и очень знает хорошо возможности каждого своего
              ученика.....Очень здорово,. что есть такая школа FENIX с такими VIP-специалистами Good laky Седова
              Елена</p>
            <div class="reviews-name-wrap">
              <div class="reviews-name">
                Влад Письменный
              </div>
              <div class="date">
                <span>22 фев 2018 в 13:44</span> <a href="#" class="soc-item soc-item-vk" target="_blank"> </a>
              </div>
            </div>
          </div>
        </li>

        <li class="slick-slider__item  ">
          <div class="reviews-slider__content">
            <p>Мне очень нравится учиться трейдерству в школе Fenix, я обучаюсь у Карины с октября 2017г., Пришла
              случайно со знакомым , но очень понравилось. Это цвет нашей нации .Ребята все умные , с юмором и очень
              опрятные. Посещаю как могу, побывала у всех на занятиях, Геннадий Попов очень хорошо передает свои знания
              Геннадий Попов обаятельный человек и очень умный, отзывчивый и строгий ,Алексей Игнатенко очень юморной,и
              всё объясняет так доходчиво , что после его лекции что-то поняла в трейдерстве, Он просто прагматик и
              реалист, не витает в облаках и всё это смог передать нам на лекциях.Василий Поданев хорошо говорит о
              фондовом рынке и его надо просто слушать и слышать.Денис Лисицын это просто трудоголик и его информация о
              нефти заставила меня просто ахать и охать, так много мы все узнали о ней нашей кормилице, Сергей Титюхин
              это менеджер и прагматик , ценящий своё и чужое время , очень скорпулёзный и дотошный , но это очень надо
              в трейдерстве., Думаю что все как и я просто наслаждаются лекциями по обзору рынка Андрея Григорьевича
              Перекальского, Я чувствую, что его все полюбили, он очень красиво и доходчиво выстраивает свою мысль:она
              понятна и доступна всем.Каждому отвечает на вопросы , никого не забывает.Чувствуется что он МАЖОР в
              хорошем понимании этого слова и пусть он МАЖОР , но ОН для меня СОВРЕМЕННЫЙ ГЕРОЙ . ОН НАПОМИНАЕТ МНЕ ДОН
              КИХОТА.Он сражается с рынком и все рассказывает нам - тем, кто только встал на этот путь, так, что мы
              полюбили эту, пока что не совсем понятную, деятельность на Forex.Вчера была еще и на лекции Альберта
              Кятова. Думала он такой же как и мы пришел учиться , а он уже столько отучился и рассказал нам о том
              рынке, о котором я как-то подозревала что он существует .Он подтвердил мою интуицию.Очень красивые девушки
              в Фениксе, парням очень трудно с ними находиться "Красота- это страшная сила" .так говорила актриса Фаина
              Раневская и это я теперь увидела воочию, а моя Карина вообще классика жанра, Она какая-то африканка , но
              говорит по-русски, очень скрытная , но добрая и очень знает хорошо возможности каждого своего
              ученика.....Очень здорово,. что есть такая школа FENIX с такими VIP-специалистами Good laky Седова
              Елена</p>
            <div class="reviews-name-wrap">
              <div class="reviews-name">
                Влад Письменный
              </div>
              <div class="date">
                <span>22 фев 2018 в 13:44</span> <a href="#" class="soc-item soc-item-vk" target="_blank"> </a>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}

