{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block content %}
  <div class="breadcrumbs">
    <div class="breadcrumbs__center">
      <a href="/">Главная</a>
      <a href="/about-page-info">Об институте</a>
      <span>Научная Работа</span>
    </div>
  </div>
  <div class="content">
    <div class="center">
      <div class="title">{{ title }}</div>
      <div class="content-wrap">
        <aside>
          {{ render(controller('App\\Controller\\SubMenuAboutPageController::index')) }}
          {{ render(controller('App\\Controller\\NewsController::sideBarBlock')) }}
        </aside>
        <div class="content-block">
          <p>Институт Трейдинга и Инвестиций «Феникс»» ставит своей целью активное изучение финансовых рынков с целью определения их закономерностей и раннего выявления тенденций движения цен. Исследования ведутся в 2 направлениях: стажировка студентов Финансового Университета при правительстве РФ и МГУ им. М.В. Ломоносова, мастер-группа.</p>
          <h4>Стажировка студентов ВУЗов.</h4>
          <p>Студены МГУ им. М.В. Ломоносова  в 2017 году исследовали закономерность между новостями, например ADP и Nonfarm Payrolls. В результате исследований данных ADP пришли к следующему вывод» В 2018 году студенты составляли и защищали портфели:</p>
          <p>
            <img src="/images/knowledge/1.jpg" alt="">
          </p>
          <p>Так же были представлены авторские торговые стратегии, на основе выявленных закономерностей:</p>
          <p>
            <img src="/images/knowledge/2.jpg" alt="">
          </p>
          <p>«Стратегия торговли на смене тренда»<br>
            Так же была представлена статистика скальпинговых стратегий:
          </p>
          <p>
            <img src="/images/knowledge/3.jpg" alt="">
          </p>
          <p>Стратегия «15 минут»</p>
          <p>
            <img src="/images/knowledge/4.jpg" alt="">
          </p>
          <p>Стратегия «метод крыльев сапсана»</p>
          <p>
            <img src="/images/knowledge/5.jpg" alt="">
          </p>
          <p>Сотрудничество с Финансовым Университетом ведется с 2013 года. Студенты собирают статистику реакции цены на новости, создают на основе исследования стратегии под каждую новость отдельно. Так, например, студенты 2016 года разработали 2 стратегии – «Прямые новости» и «1 свеча»:</p>
          <p>
            <img src="/images/knowledge/6.png" alt="">
          </p>
          <p>В 2017 году студенты исследовали закономерность трендов, и пришли к следующим результатам:</p>
          <p>
            <img src="/images/knowledge/7.png" alt="">
          </p>
          <p>Студены МГУ им. М.В. Ломоносова  в 2017 году исследовали закономерность между новостями, например ADP и Nonfarm Payrolls. В результате исследований данных ADP пришли к следующему выводу:</p>
          <p>
            <img src="/images/knowledge/8.png" alt="">
          </p>
          <p>
            По итогу стажировки студенты понимают новостное движение цены, применяют свои авторские стратегии в торговле, используют полученные данные для анализа дальнейшего движения цены.
          </p>
          <h4>Мастер-группа</h4>
          <p>В каждом потоке программы «INTENSIVE» есть слушатели, которые хотят максимально углубить своё понимание рынка. Именно они начинают выдвигать гипотезы, предлагать индикаторы.</p>
          <p>В течении месяца трейдеры собирают статистику свечных, графических, индикаторных стратегий. На основе данных подбирают дополнительные сигналы, улучшающие показатель доходности. В конце работы трейдеры представляют готовую версию торговой системы, где доказывают ее работоспособность стратегий, результаты и совместимость с другими инструментами анализа.</p>
          <p>Примеры исследования:</p>
          <p>1.</p>
          <p>
            <img src="/images/knowledge/9.png" alt="">
          </p>
          <p>2.</p>
          <p><img src="/images/knowledge/10.png" alt=""></p>
          <p>3.</p>
          <p>
            <img src="/images/knowledge/11.png" alt="">
          </p>
          <p>Именно быстрые итерации и возможность оперативно пройти путь от теории до расчётов и практики позволяет научному сектору Института Трейдинга и Инвестиций «Феникс» быть на шаг впереди не только существующих учебных центров, но и специализированных программ подготовки специалистов на финансовых рынках в высших учебных заведениях.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}