{% extends 'base.html.twig' %}
{% set month =
{
'January': 'января',
'February': 'февраля',
'March': 'марта',
'April': 'апреля',
'May': 'мая',
'June': 'июня',
'July': 'июля',
'August': 'августа',
'September': 'сентября',
'October': 'октября',
'November': 'ноября',
'December': 'декабря',
} %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
  <div class="breadcrumbs">
    <div class="breadcrumbs__center">
      <a href="/">Главная</a>
      <a href="/training-practice">Обучение и практика</a>
      <a href="/training-practice/masterclass">Мастер-классы</a>
      <span>{{ item.title }}</span>
    </div>
  </div>
  <div class="content news-page">
    <div class="center">
      <div class="title">Мастер-класс</div>
      <div class="content-wrap">
        <aside>
          {{ render(controller('App\\Controller\\SubMenuTrainingPracticeController::index')) }}
          {{ render(controller('App\\Controller\\NewsController::sideBarBlock')) }}
        </aside>
        <div class="content-block">
          <div class="news-page-wrap">
            <div class="column">
              <div class="column-item">
                {#<span class="news-block-img"><img src="/images/teachers/{{ item.teacher.imageName }}" alt=""></span>#}
                <span class="news-block-content">
										<span class="news-block-title">Мастер-класс  «{{ item.title }}»</span>
                    <p>{{ item.body|replace({'\n': '<p>'})|raw }}</p>
                  <p>Стоимость мастер-класса – {{ item.course.cost }} рублей</p>
                  {% if item.duration %}
                    <p>Продолжительность: {{ item.duration }}</p>
                  {% endif %}
                  <a href="/shop/courses/{{ item.course.id }}" class="btn-pay">Купить</a>
										<span class="news-block-content-bottom">
											<span
                        class="date"></span>
                      {#<span class="info-block">#}
                      {#<span class="info">21</span>#}
                      {#<span class="rating">3052</span>#}
                      {#</span>#}
										</span>
									</span>
                <a href="/training-practice/masterclass/" class="all-news">ко Всем Масекр-классам</a>
              </div>
              <div class="column-item">
                {{ render(controller('App\\Controller\\AnalyticsPageController::blockLastAnalytics')) }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about">
    <div class="rightarea-bg"></div>
    <div class="center">
      <div class="rightarea-content">
        <div class="subtitle">
          Об институте
        </div>
        <p>
          Институт Трейдинга и Инвестиций «Феникс» занимается изучением и моделированием ситуаций на финансовых рынках и
          обучением специалистов в сфере валютно-биржевых торговых инструментов. Подробнее о деятельности Института вы
          можете узнать в соответствующем разделе.
        </p>
        <a href="#" class="btn">Подробнее</a>
      </div>
    </div>
  </div>
{% endblock %}