{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <div class="breadcrumbs">
    <div class="breadcrumbs__center">
      <a href="/">Главная</a>
      <a href="/training-practice">Обучение и практика</a>
      <span>Мастер-классы опытных трейдеров</span>
    </div>
  </div>
  <div class="content trainer-wrapper">
    <div class="center">
      <div class="title">{{ title }}</div>
      <div class="content-wrap">
        <aside>
          {{ render(controller('App\\Controller\\SubMenuTrainingPracticeController::index')) }}
          {{ render(controller('App\\Controller\\NewsController::sideBarBlock')) }}
        </aside>
        <div class="content-block">
          <div class="news-block ">
            {% for item in items %}
              <a href="/training-practice/masterclass/{{ item.id }}" class="news-block-item">
                <span class="news-block-img"><img src="/images/teachers/{{ item.teacher.imageName }}" alt=""></span>
                <span class="news-block-content">
                  <span class="news-block-title">Мастер-класс  «{{ item.title }}»</span>
                  <span class="news-block-title">Преподавтель: {{ item.teacher.name }}</span>
                  <p>{{ item.body|truncate(170) }}</p>
                  <span class="news-block-content-bottom"></span>
								</span>
              </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}