{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <div class="breadcrumbs">
    <div class="breadcrumbs__center">
      <a href="/">Главная</a>
      <a href="/training-practice">Обучение и практика</a>
      <span>{{ title }}</span>
    </div>
  </div>
  <div class="content start-up">
    <div class="center">
      <div class="title">{{ title }}</div>
      <div class="content-wrap">
        <aside>
          {{ render(controller('App\\Controller\\SubMenuTrainingPracticeController::index')) }}
          {{ render(controller('App\\Controller\\NewsController::sideBarBlock')) }}
        </aside>

        <div class="content-block">
          <div class="start-up-block">
            <div class="rightarea">
              <div class="rightarea-bg"></div>
              <div class="center">
                <div class="rightarea-content">
                  <div class="form">
                    <form action="">
                      <div class="subtitle">
                        Начни свою карьеру на фондовых рынках Запишись на курс MASTER GROUP
                      </div>
                      <div class="form__block">
                        <div class="form__line">
                          <label for="name">Ваше имя</label>
                          <input type="text" name="name" placeholder=" ">
                        </div>
                        <div class="form__line">
                          <label for="phone">Телефон</label>
                          <input type="text" name="phone" placeholder=" ">
                        </div>
                        <div class="form__line">
                          <label for="email">E-mail</label>
                          <input type="text" name="email" placeholder=" ">
                        </div>

                        <div class="form__line form__line--checkbox">
                          <input id="agree2" type="checkbox">
                          <label for="agree2">Согласен на обработку персональных данных </label>
                        </div>
                        <div class="form__line form__line--submit green">
                          <button type="submit" value="">записаться</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="content-block-description">
            <div class="center">
              <h4>Описание</h4>
              <p>Длительность обучения - <strong>1 месяц</strong></p>
              <p>Стоимость: <strong>150000 руб.</strong></p>
              <p>Программа MASTER GROUP является завершающим этапом обучения в нашем институте. После углубленного изучения методик торговли (Форекс, фондовый рынок и др.) и их применения на практике - приходит время выработать свою собственную систему заработка на финансовых рынках, суммируя знания, полученные на предыдущих этапах обучения.</p>

              <ul>
                <li>Для кого данная программа интересна?</li>
                <li>Для тех, кто:</li>
                <li> желает получить диплом государственного образца о профессиональной переподготовке с присвоением квалификации «трейдер»;</li>
                <li>профессионально подходит к трейдингу;</li>
                <li>намерен увеличить свой доход;</li>
                <li>стремиться повысить свой статус в мире финансовых рынков.</li>
              </ul>
              <p>За один месяц, на основе ранее полученных знаний, по программе MASTER GROUP - Вы разработаете, как минимум, 3 собственных стратегии, протестируете, просчитаете их - по мани менеджменту – и, получите собственную торговую систему.</p>
              <a href="/shop/courses/4" class="btn-pay">Купить</a>
              <h4>Результат</h4>

              <p>Вы получаете универсальный инструмент заработка на финансовых рынках</p>


              <h4>Индивидуальное обучение</h4>
              <p>Персональные занятия в Институте проходят согласно выбранной Вами - программе, но по индивидуальному графику.</p>
              <p>Как проходит данный вид обучения?</p>
              <p>Встреча с персональным коучем, где обсуждаются:</p>
              <ul>
                <li>Цели и пожелания учащегося;</li>
                <li>Опыт работы учащегося на финансовых рынках;</li>
                <li>Тип мышления (техника или фундамент);</li>
                <li>Желаемый размер доходности;</li>
                <li>Желаемая частота торговли;</li>
                <li>Согласование графика посещения занятий;</li>
                <li>Создание методики индивидуальной подготовки;</li>
                <li>Обсуждение правил пользования тестером стратегий и объяснение техники выполнения упражнений.</li>
                <li>Каждое персональное занятие проводится коучем. При необходимости, в процессе занятий он будет корректировать программу, в зависимости от степени вашего усвоения. Программа индивидуального обучения – эффективный способ сократить время, при этом – не экономя на качестве знаний.</li>
                <li>Записывайтесь здесь и становитесь профессиональным участником финансового рынка. Инвестируйте в себя! </li>
                <li>Инвестируйте грамотно!</li>
              </ul>
              <p>Стоимость: 300000 руб.</p>

              <a href="/shop/courses/10" class="btn-pay">Купить</a>
              <h4>Программа курса MASTER GROUP</h4>

              <ul>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>Нормативные документы, регламентирующие деятельность финансовых рынков (ФСФР)</span></div>
                  <div class="conditions-block-text">
                    <p>В настоящее время на финансовых рынках востребованы такие должности, как: </p>
                    <ul>
                      <li>специалист финансового рынка по брокерской, дилерской деятельности и деятельности по управлению ценными бумагами;</li>
                      <li>специалист финансового рынка по организации торговли на рынке ценных бумаг (деятельности фондовой биржи) и клиринговой деятельности.</li>
                    </ul>
                    <p>Мы собрали для Вас самый полный свод актуальных материалов по подготовке к экзаменам ФСФР, в том числе вопросы и ответы, методические и вспомогательные пособия, решения задач и другие аналогичные материалы. Так же мы дадим вам возможность проверить свои знания на тренажере.</p>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>Индивидуальна торговая система</span> </div>
                  <div class="conditions-block-text">
                    <ul>
                      <li>Понятие «торговая система».</li>
                      <li>Составляющая торговой системы.</li>
                      <li>Правила личной торговли.</li>
                    </ul>
                    <p>Вы разрабатываете бизнес-план работы на финансовых рынках. Каждый закладывает в него то, что хочет получить, ну а мы даем стройный алгоритм его достижения.</p>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>Торговый сигнал</span> </div>
                  <div class="conditions-block-text">
                    <ul>
                      <li>Понятие торгового сигнала в рынке</li>
                      <li>Роль сигнала в торговле,</li>
                      <li>Виды сигналов</li>
                    </ul>
                    <p>Совокупность изучения различных торговых сигналов дает возможность выбрать именно те, при получении которых – Вы четко понимаете характер сделки (покупка либо продажа) и обстоятельства фиксации прибыли.</p>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>Торговая стратегия</span> </div>
                  <div class="conditions-block-text">
                    <ul>
                      <li>Понятие стратегии</li>
                      <li>Алгоритм ее построения</li>
                      <li>Параметры стратегии</li>
                      <li>Эффективность стратегии на различных финансовых инструментах</li>
                      <li>Анализ статистики по стратегиям</li>
                      <li>Выбор стратегии, исходя из Ваших требований</li>
                    </ul>
                    <p>Изучив эту важнейшую тему - Вы получите ответы на все интересующие Вас вопросы!</p>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>Дополнительные сигналы</span> </div>
                  <div class="conditions-block-text">
                    <ul>
                      <li>Фильтры к вашей торговой стратегии</li>
                      <li>Рекомендации по применению фильтров</li>
                    </ul>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>Сочетание торговых сигналов</span> </div>
                  <div class="conditions-block-text">
                    <ul>
                      <li>Алгоритм применения 3-х и более сигналов разных методик торговли на вход в одну сделку.</li>
                      <li>Алгоритм применения 3-х и более сигналов на выход из сделки.</li>
                    </ul>
                    <p>Эта тема достаточно проста и очень эффективна.</p>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>Сочетание торговых стратегий</span> </div>
                  <div class="conditions-block-text">
                    <ul>
                      <li>Торговая стратегия для торговли на новостях</li>
                      <li>Консервативная торговая стратегия( среднесрочная )</li>
                      <li>Торговая стратегия по скальпингу( пипса )</li>
                    </ul>
                    <p>Сколько стратегий должно быть у трейдера? Можно ли просчитать итог торгового месяца несколькими стратегиями? Мы подведем итоги и сделаем выборку сочетаемых стратегий, чтобы увеличить профит-фактор.</p>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>Стажировка</span> </div>
                  <div class="conditions-block-text">
                    <p>На стажировке вы занимаетесь тем, чем должен заниматься каждый трейдер: выводите статистку, определяете истинные сигналы входа и выхода из сделки, выводите свою формулу торговли.</p>
                    <p>Участники обмениваются идеями, обсуждают различные стратегии, участвуют в мозговых штурмах и создают авторские методики, позволяющие увеличить доход от торговли на финансовых рынках. Применяя различные подходы, трейдеры стремятся к одной общей цели – увеличить ежемесячную доходность. После такой стажировки Вы можете обеспечить себе устойчивую, надежную торговую систему и стабильно зарабатывать.</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="reviews-slider">
    <div class="center">
      <div class="title">Отзывы наших студентов</div>
      <ul class="reviews-block-slider">
        <li class="slick-slider__item  ">
          <div class="reviews-slider__content">
            <p>Мне очень нравится учиться трейдерству в школе Fenix, я обучаюсь у Карины с октября 2017г., Пришла случайно со знакомым , но очень понравилось. Это цвет нашей нации .Ребята все умные , с юмором и очень опрятные. Посещаю как могу, побывала у всех на занятиях, Геннадий Попов очень хорошо передает свои знания Геннадий Попов обаятельный человек и очень умный, отзывчивый и строгий ,Алексей Игнатенко очень юморной,и всё объясняет так доходчиво , что после его лекции что-то поняла в трейдерстве, Он просто прагматик и реалист, не витает в облаках и всё это смог передать нам на лекциях.Василий Поданев хорошо говорит о фондовом рынке и его надо просто слушать и слышать.Денис Лисицын это просто трудоголик и его информация о нефти заставила меня просто ахать и охать, так много мы все узнали о ней нашей кормилице, Сергей Титюхин это менеджер и прагматик , ценящий своё и чужое время , очень скорпулёзный и дотошный , но это очень надо в трейдерстве., Думаю что все как и я просто наслаждаются лекциями по обзору рынка Андрея Григорьевича Перекальского, Я чувствую, что его все полюбили, он очень красиво и доходчиво выстраивает свою мысль:она понятна и доступна всем.Каждому отвечает на вопросы , никого не забывает.Чувствуется что он МАЖОР в хорошем понимании этого слова и пусть он МАЖОР , но ОН для меня СОВРЕМЕННЫЙ ГЕРОЙ . ОН НАПОМИНАЕТ МНЕ ДОН КИХОТА.Он сражается с рынком и все рассказывает нам - тем, кто только встал на этот путь, так, что мы полюбили эту, пока что не совсем понятную, деятельность на Forex.Вчера была еще и на лекции Альберта Кятова. Думала он такой же как и мы пришел учиться , а он уже столько отучился и рассказал нам о том рынке, о котором я как-то подозревала что он существует .Он подтвердил мою интуицию.Очень красивые девушки в Фениксе, парням очень трудно с ними находиться "Красота- это страшная сила" .так говорила актриса Фаина Раневская и это я теперь увидела воочию, а моя Карина вообще классика жанра, Она какая-то африканка , но говорит по-русски, очень скрытная , но добрая и очень знает хорошо возможности каждого своего ученика.....Очень здорово,. что есть такая школа FENIX с такими VIP-специалистами Good laky Седова Елена</p>
            <div class="reviews-name-wrap">
              <div class="reviews-name">
                Влад Письменный
              </div>
              <div class="date">
                <span>22 фев 2018 в 13:44</span>  <a href="#" class="soc-item soc-item-vk" target="_blank"> </a>
              </div>
            </div>
          </div>
        </li>

        <li class="slick-slider__item  ">
          <div class="reviews-slider__content">
            <p>Мне очень нравится учиться трейдерству в школе Fenix, я обучаюсь у Карины с октября 2017г., Пришла случайно со знакомым , но очень понравилось. Это цвет нашей нации .Ребята все умные , с юмором и очень опрятные. Посещаю как могу, побывала у всех на занятиях, Геннадий Попов очень хорошо передает свои знания Геннадий Попов обаятельный человек и очень умный, отзывчивый и строгий ,Алексей Игнатенко очень юморной,и всё объясняет так доходчиво , что после его лекции что-то поняла в трейдерстве, Он просто прагматик и реалист, не витает в облаках и всё это смог передать нам на лекциях.Василий Поданев хорошо говорит о фондовом рынке и его надо просто слушать и слышать.Денис Лисицын это просто трудоголик и его информация о нефти заставила меня просто ахать и охать, так много мы все узнали о ней нашей кормилице, Сергей Титюхин это менеджер и прагматик , ценящий своё и чужое время , очень скорпулёзный и дотошный , но это очень надо в трейдерстве., Думаю что все как и я просто наслаждаются лекциями по обзору рынка Андрея Григорьевича Перекальского, Я чувствую, что его все полюбили, он очень красиво и доходчиво выстраивает свою мысль:она понятна и доступна всем.Каждому отвечает на вопросы , никого не забывает.Чувствуется что он МАЖОР в хорошем понимании этого слова и пусть он МАЖОР , но ОН для меня СОВРЕМЕННЫЙ ГЕРОЙ . ОН НАПОМИНАЕТ МНЕ ДОН КИХОТА.Он сражается с рынком и все рассказывает нам - тем, кто только встал на этот путь, так, что мы полюбили эту, пока что не совсем понятную, деятельность на Forex.Вчера была еще и на лекции Альберта Кятова. Думала он такой же как и мы пришел учиться , а он уже столько отучился и рассказал нам о том рынке, о котором я как-то подозревала что он существует .Он подтвердил мою интуицию.Очень красивые девушки в Фениксе, парням очень трудно с ними находиться "Красота- это страшная сила" .так говорила актриса Фаина Раневская и это я теперь увидела воочию, а моя Карина вообще классика жанра, Она какая-то африканка , но говорит по-русски, очень скрытная , но добрая и очень знает хорошо возможности каждого своего ученика.....Очень здорово,. что есть такая школа FENIX с такими VIP-специалистами Good laky Седова Елена</p>
            <div class="reviews-name-wrap">
              <div class="reviews-name">
                Влад Письменный
              </div>
              <div class="date">
                <span>22 фев 2018 в 13:44</span>  <a href="#" class="soc-item soc-item-vk" target="_blank"> </a>
              </div>
            </div>
          </div>
        </li>

        <li class="slick-slider__item  ">
          <div class="reviews-slider__content">
            <p>Мне очень нравится учиться трейдерству в школе Fenix, я обучаюсь у Карины с октября 2017г., Пришла случайно со знакомым , но очень понравилось. Это цвет нашей нации .Ребята все умные , с юмором и очень опрятные. Посещаю как могу, побывала у всех на занятиях, Геннадий Попов очень хорошо передает свои знания Геннадий Попов обаятельный человек и очень умный, отзывчивый и строгий ,Алексей Игнатенко очень юморной,и всё объясняет так доходчиво , что после его лекции что-то поняла в трейдерстве, Он просто прагматик и реалист, не витает в облаках и всё это смог передать нам на лекциях.Василий Поданев хорошо говорит о фондовом рынке и его надо просто слушать и слышать.Денис Лисицын это просто трудоголик и его информация о нефти заставила меня просто ахать и охать, так много мы все узнали о ней нашей кормилице, Сергей Титюхин это менеджер и прагматик , ценящий своё и чужое время , очень скорпулёзный и дотошный , но это очень надо в трейдерстве., Думаю что все как и я просто наслаждаются лекциями по обзору рынка Андрея Григорьевича Перекальского, Я чувствую, что его все полюбили, он очень красиво и доходчиво выстраивает свою мысль:она понятна и доступна всем.Каждому отвечает на вопросы , никого не забывает.Чувствуется что он МАЖОР в хорошем понимании этого слова и пусть он МАЖОР , но ОН для меня СОВРЕМЕННЫЙ ГЕРОЙ . ОН НАПОМИНАЕТ МНЕ ДОН КИХОТА.Он сражается с рынком и все рассказывает нам - тем, кто только встал на этот путь, так, что мы полюбили эту, пока что не совсем понятную, деятельность на Forex.Вчера была еще и на лекции Альберта Кятова. Думала он такой же как и мы пришел учиться , а он уже столько отучился и рассказал нам о том рынке, о котором я как-то подозревала что он существует .Он подтвердил мою интуицию.Очень красивые девушки в Фениксе, парням очень трудно с ними находиться "Красота- это страшная сила" .так говорила актриса Фаина Раневская и это я теперь увидела воочию, а моя Карина вообще классика жанра, Она какая-то африканка , но говорит по-русски, очень скрытная , но добрая и очень знает хорошо возможности каждого своего ученика.....Очень здорово,. что есть такая школа FENIX с такими VIP-специалистами Good laky Седова Елена</p>
            <div class="reviews-name-wrap">
              <div class="reviews-name">
                Влад Письменный
              </div>
              <div class="date">
                <span>22 фев 2018 в 13:44</span>  <a href="#" class="soc-item soc-item-vk" target="_blank"> </a>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}

