{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <div class="breadcrumbs">
    <div class="breadcrumbs__center">
      <a href="/">Главная</a>
      <span>СМИ о нас</span>
    </div>
  </div>
  <div class="content media-about-institute">
    <div class="center">
      <div class="title">СМИ о нашем институте</div>
      <div class="content-wrap">
        <aside>
          {{ render(controller('App\\Controller\\NewsController::sideBarBlock')) }}
        </aside>

        <div class="content-block">
          <div class="media-about-institute-wrap">
            <div class="date">29 сентября 2017 года</div>
            <div class="column">
              <div class="column-item">
                <div class="media-about-institute-img">
                  <img src="/img/media-about-institute-img-1.jpg" alt="">
                </div>
              </div>
              <div class="column-item">
                <p>Руководитель аналитического департамента ИТИ «ФЕНИКС» Екатерина Туманова, дала интервью
                  корреспонденту газеты «Аргументы и Факты» и ответила на главный вопрос: «Где проще заработать — на
                  фондовом рынке или валютном?</p>
              </div>
            </div>
          </div>

          <div class="media-about-institute-wrap">
            <div class="date">29 сентября 2017 года</div>
            <div class="column">
              <div class="column-item">
                <div class="media-about-institute-img">
                  <img src="/img/media-about-institute-img-1.jpg" alt="">
                </div>
              </div>
              <div class="column-item">
                <p>Руководитель аналитического департамента ИТИ «ФЕНИКС» Екатерина Туманова, дала интервью
                  корреспонденту газеты «Аргументы и Факты» и ответила на главный вопрос: «Где проще заработать — на
                  фондовом рынке или валютном?</p>
              </div>
            </div>
          </div>

          <div class="media-about-institute-wrap">
            <div class="date">29 сентября 2017 года</div>
            <div class="column">
              <div class="column-item">
                <div class="media-about-institute-img">
                  <img src="/img/media-about-institute-img-1.jpg" alt="">
                </div>
              </div>
              <div class="column-item">
                <p>Руководитель аналитического департамента ИТИ «ФЕНИКС» Екатерина Туманова, дала интервью
                  корреспонденту газеты «Аргументы и Факты» и ответила на главный вопрос: «Где проще заработать — на
                  фондовом рынке или валютном?</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{ render(controller('App\\Controller\\EducationalCoursesController::minimalVersionBlock')) }}
{% endblock %}
