{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <div class="breadcrumbs">
    <div class="breadcrumbs__center">
      <a href="/">Главная</a>
      <a href="/about-page-info">Об институте</a>
      <span>Новости</span>
    </div>
  </div>
  <div class="content trainer-wrapper">
    <div class="center">
      <div class="title">{{ title }}</div>
      <div class="content-wrap">
        <aside>
          {{ render(controller('App\\Controller\\SubMenuAboutPageController::index')) }}
        </aside>
        <div class="content-block">
          <div class="news-block ">
            {% for item in items %}
              <a href="/about-page-info/news/{{ item.id }}" class="news-block-item">
                <span class="news-block-img"><img src="/images/news/{{ item.imageName }}" alt=""></span>
                <span class="news-block-content">
								<span class="news-block-title">{{ item.title }}</span>
								<p>{{ item.body|truncate(200) }}</p>
								<span class="news-block-content-bottom">
									{#<span class="date">{{ item.date }}</span>#}
                  <span class="date">9 декабря 2018</span>
									{#<span class="info-block">#}
										{#<span class="info">21</span>#}
										{#<span class="rating">{{ item.counter }}</span>#}
									{#</span>#}
								</span>
							</span>
              </a>
            {% endfor %}
          </div>
          {{ knp_pagination_render(items,'pagination/pagination.html.twig') }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}