{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <div class="breadcrumbs">
    <div class="breadcrumbs__center">
      <a href="/">Главная</a>
      <a href="/training-practice">Обучение и практика</a>
      <span>{{ title }}</span>
    </div>
  </div>

  <div class="content start-up">
    <div class="center">
      <div class="title">{{ title }}</div>
      <div class="content-wrap">
        <aside>
          {{ render(controller('App\\Controller\\SubMenuTrainingPracticeController::index')) }}
          {{ render(controller('App\\Controller\\NewsController::sideBarBlock')) }}
        </aside>

        <div class="content-block">
          <div class="start-up-block">
            <div class="rightarea">
              <div class="rightarea-bg"></div>
              <div class="center">
                <div class="rightarea-content">
                  <div class="form">
                    <form action="">
                      <div class="subtitle">
                        Начни свою карьеру на фондовых рынках Запишись на курс START UP
                      </div>
                      <div class="form__block">
                        <div class="form__line">
                          <label for="name">Ваше имя</label>
                          <input type="text" name="name" placeholder=" ">
                        </div>
                        <div class="form__line">
                          <label for="phone">Телефон</label>
                          <input type="text" name="phone" placeholder=" ">
                        </div>
                        <div class="form__line">
                          <label for="email">E-mail</label>
                          <input type="text" name="email" placeholder=" ">
                        </div>

                        <div class="form__line form__line--checkbox">
                          <input id="agree2" type="checkbox">
                          <label for="agree2">Согласен на обработку персональных данных </label>
                        </div>
                        <div class="form__line form__line--submit green">
                          <button type="submit" value="">записаться</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="content-block-description">
            <div class="center">
              <h4>Описание</h4>
              <p>Длительность обучения - <strong>2 недели</strong></p>
              <p>Именно для тех, кто понимает, что инвестициям необходимо учиться мы предлагаем программу «Основы трейдинга для начинающих», включающую в себя 2 курса:</p>
              <p>«ФИНАНСОВЫЕ РЫНКИ. ВЗГЛЯД ПРОФЕССИОНАЛОВ» «ФОНДОВЫЕ РЫНКИ. ОСВОБОДИ ВРЕМЯ ДЛЯ ЖИЗНИ»</p>
              <p>Данная программа является лучшим продуктом в данной области для изучения и понимания процессов, происходящих в экономике. И, самое важное, что она рассчитана на разный уровень знаний.</p>
              <p>Мы не говорим громких и заумных слов, не умничаем, а объясняем все экономические процессы и возможности, которые они предоставляют. Наш принцип - просто, доступно, рентабельно. Если вам интересно, только, если вам действительно - интересно - записывайтесь на программу «ОСНОВЫ ТРЕЙДИНГА ДЛЯ НАЧИНАЮЩИХ»</p>
              <h4>Результат</h4>
              <p>Вы узнаете, как работают валютный, фондовый и товарно–сырьевой рынки</p>
              <p>Научитесь использовать и монетизировать полученные знания</p>
              <p>Поймете ключевые аспекты торговли на финансовых рынках</p>
              <p>Успешно окончившим курс выдается свидетельство о дополнительном образовании</p>
              <h4>Преимущества и особенности курса</h4>
              <div class="column">
                <div class="column-item">
                  <h5>Технология торговли</h5>
                  <p>Наш курс трейдинга для новичков позволит вам освоить технологию торговли на рынке с нуля. В процессе обучения слушатели не только посетят теоретические занятия и мастер-классы опытных трейдеров, но и узнают, как начать торговать на Форекс и заключать успешные сделки.</p>
                </div>
                <div class="column-item">
                  <h5>Персональный куратор</h5>
                  <p>Обучение осуществляется под руководством персонального куратора, который консультирует участников по всем возникающим вопросам, а также указывает на возможные ошибки.</p>
                </div>
              </div>
              <div class="column">
                <div class="column-item">
                  <h5>Практика</h5>
                  <p>Что касается практики торговли на Forex, для начинающих трейдеров предусмотрено участие в фокус-группе – промежуточном этапе обучения, который поможет сделать первые шаги на Форекс и избежать ошибок, типичных для для новичков.</p>
                </div>
                <div class="column-item">
                  <h5>Подача материала</h5>
                  <p>Преподаватели Института в доступной и легкой форме объяснят слушателям, кто такие трейдеры, чем они занимаются и как стать трейдером с нуля.</p>
                </div>
              </div>
              <h4>Индивидуальное обучение</h4>
              <p>Каждое персональное занятие проводится коучем. При необходимости, в процессе занятий он будет корректировать программу, в зависимости от степени вашего усвоения. Программа индивидуального обучения – эффективный способ сократить время, при этом – не экономя на качестве знаний. Персональные занятия в Институте проходят согласно выбранной Вами - программе, но по индивидуальному графику.</p>
              <h4>Как проходит данный вид обучения?</h4>
              <p>Встреча с персональным коучем, где обсуждаются:</p>
              <ul>
                <li>Цели и пожелания учащегося;</li>
                <li>Опыт работы учащегося на финансовых рынках;</li>
                <li>Тип мышления (техника или фундамент);</li>
                <li>Желаемый размер доходности;</li>
                <li>Желаемая частота торговли;</li>
                <li>Согласование графика посещения занятий;</li>
                <li>Создание методики индивидуальной подготовки;</li>
                <li>Обсуждение правил пользования тестером стратегий и объяснение техники выполнения упражнений.</li>
              </ul>
              <h4>Стоимость курса</h4>
              <p>Индивидуальное обучение для VIP клиентов по программе START UP - бесплатно. Индивидуальное обучение по программе START UP - 100 000 рублей (один час индивидуальных занятий - 2000 рублей). Для держателей сертификатов - обучение по курсу START UP оплачивается компанией.</p>
              <a href="/shop/courses/1" class="btn-pay">Купить</a>
              <h4>Программа курса Start up</h4>
              <ul>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>Вводное занятие</span></div>
                  <div class="conditions-block-text">
                    <p>Какие ассоциации у Вас возникают, когда Вы слышите «Фондовый рынок», «Акции продолжают снижение», «На финансовых рынках переворот»? Наверняка всплывают кадры из фильмов, где куча людей бегают по бирже, кричат, передают какие-то листы... на вводном занятии мы поговорим о том, как работают финансовые рынки в современном мире, какие возможности они таят, как устроены и как получается доход от инвестирование именно в эту сферу.</p>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>Терминал</span> </div>
                  <div class="conditions-block-text">
                    <p>На этом занятии мы поговорим об устройстве главного механизма, по сути кузницы прибыли - о торговом терминале. Освоив терминал, Вы с легкостью сможете купить Акции или продать валюту. Сможете узнать стоимость золота и даже сделать свой первый прогноз!</p>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>Голландский анализ</span> </div>
                  <div class="conditions-block-text">
                    <p>Вы знаете, как выглядит треугольник и флаг? Тогда вы уже знакомы с графическим анализом. А вот как на этом заработать, мы расскажем вам на лекции «Графический анализ - родом из Голландии».</p>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>Фундаментальный анализ</span> </div>
                  <div class="conditions-block-text">
                    <p>Рынок учитывает все события, происходящие в мире. Какие из них больше всего влияют на движение цены? Об этом мы расскажем вам на лекции.</p>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>Технический анализ: прогнозируй будущее</span> </div>
                  <div class="conditions-block-text">
                    <p>Чтобы узнать об изменениях на рынке валют в будущем, надо заглянуть... в прошлое! Мы научим вас прогнозировать движение цен и извлекать из этого выгоду.</p>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>Индикаторы. Просто и со вкусом</span> </div>
                  <div class="conditions-block-text">
                    <p>Индикаторы – это специальные программы, позволяющие следить за тенденциями изменения цен и принимать правильные решения. Но можно ли им доверять? Разберёмся вместе на лекции.</p>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>Стратегии и тактики</span> </div>
                  <div class="conditions-block-text">
                    <p>Рынок – это поле битвы, и чтобы добиться успеха, надо уметь находить выход из любых сложностей. Наши преподаватели научат вас выходить победителем из любой ситуации.</p>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>Money management. Торгуй по правилам</span> </div>
                  <div class="conditions-block-text">
                    <p>У вас из 10 сделок всего 3 удачных? При помощи обычной математики мы научим вас выводить эту ситуацию в плюс.</p>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>Заработай на новостях</span> </div>
                  <div class="conditions-block-text">
                    <p>Новости – это не только источник информации, но и источник доходов: для кого-то выступление президента - рутина, а для вас – ценные сигналы. Как на этом заработать? Вы узнаете обо всем на нашей лекции.</p>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>Автоматическая торговля</span> </div>
                  <div class="conditions-block-text">
                    <p>Вы стоите в пробке и с грустью понимаете, что это надолго. Однако вы спокойны за свой капитал - за вас работают отложенные ордера. Данная тактика позволяет автоматизировать процесс торговли и следить за рынком даже тогда, когда у вас нет доступа к компьютеру.</p>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>7 точек входа. Наложи трафарет</span> </div>
                  <div class="conditions-block-text">
                    <p>Вы не умеете торговать? Вам тяжело дается анализ? Используйте готовые шаблоны! На наших лекциях вы узнаете о 7 эффективных способах входа на рынок Forex.</p>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>Условия торговли</span> </div>
                  <div class="conditions-block-text">
                    <p>В каждом бизнесе есть накладные расходы. Валютный рынок не исключение, а вот как минимизировать эти расходы, мы расскажем на лекции «Условия торговли».</p>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>Обзор рынка (Discussions)</span> </div>
                  <div class="conditions-block-text">
                    <p>Вы занятой человек и у вас нет времени для самостоятельного анализа валют? Воспользуйтесь обзором рынка, который проводят наши специалисты, и получите полную картину событий для принятия максимально эффективных решений.</p>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>Дневник трейдера</span> </div>
                  <div class="conditions-block-text">
                    <p>Для того чтобы уверенно себя чувствовать на рынке, необходимо иметь четкий план действий. Как грамотно распланировать свои действия, вы узнаете на лекции «Дневник трейдера».</p>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>Подушка безопасности и фиксация прибыли</span> </div>
                  <div class="conditions-block-text">
                    <p>Трейдинг привлекает тем, что мы всегда имеем возможность просчитать свою страховку и свою прибыль. Для того, чтобы комфортно чувствовать себя на рынке, трейдеру необходимо знать правила такого расчета. В данном блоке мы рассмотрим алгоритм установки ордеров «Stop loss – Take profit», которые позволяют фиксировать сделки автоматически.</p>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>Инвестиционные идеи</span> </div>
                  <div class="conditions-block-text">
                    <p>Каждый день в мире происходит масса событий. Какие то события отражаются глобально на финансовой системе, какие то имеют краткосрочное влияние. Мы фильтруем для вас актуальные новости и выдаем инвестиционные идеи, которые позволяют зарабатывать, как в краткосрочной, так и в среднесрочной перспективе.</p>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>Криптовалюта</span> </div>
                  <div class="conditions-block-text">
                    <p>Удивительный мир криптовалют очень разнообразен. Кроме биткоина есть такие инструменты, как лайткоин, зеткоин и многие другие. Чем они отличаются, какая техническая закономерность таится в этих инструментах? Где сейчас можно заработать больше? Приходите на лекцию - расскажем!</p>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>Инструменты фондового рынка</span> </div>
                  <div class="conditions-block-text">
                    <p>Для того, чтобы торговать на фондовом рынке, необходимо узнать весь ассортимент инструментов. Узнать о том, какие акции и индексы лучше всего подходят для торговли, Вы можете на данном семинаре.</p>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>Фундаментальный анализ фондового рынка</span> </div>
                  <div class="conditions-block-text">
                    <p>Каждый день в мире происходят события, которые влияют на стоимость тех или иных акций. Например, компания выпустила новую модель, или объявила расширение производства. Какие же факторы фундаментально влияют на существенное изменение цены? Данный семинар раскрывает основные аспекты влияния на движение стоимости акций».</p>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>Фондовые индексы</span> </div>
                  <div class="conditions-block-text">
                    <p>Помимо акций, на фондовом рынке трейдеры используют в торговле индексы. Что такое индексы? Для чего они нужны? Как на них торговать и как рассчитывать прибыль? На все эти вопросы ответ – в данном семинаре.</p>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>Stop loss – Take profit</span> </div>
                  <div class="conditions-block-text">
                    <p>Правильно закрытые сделки – это мастерство! На фондовом рынке есть нюансы, которые следует учитывать при закрытии сделки. Хотите подробности? Тогда Вам на лекцию!</p>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>Хеджирование и диверсификация</span> </div>
                  <div class="conditions-block-text">
                    <p>Безопасная торговля – это то, о чем мечтает начинающий трейдер. Страхование инвестиций – это реально! Как использовать это? Расскажем на этом семинаре.</p>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>Портфельное инвестирование</span> </div>
                  <div class="conditions-block-text">
                    <p>Не клади яйца в одну корзину» любят говорить грамотные люди. Как же правильно распределить активы для своего депозита? На семинаре мы Вам об этом расскажем.</p>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>Индикаторы 2</span> </div>
                  <div class="conditions-block-text">
                    <p>Нужен явный простой сигнал для открытия сделки? Прослушайте лекцию, где представлены яркие помощники для определения входа в рынок.</p>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>Технический анализ 2</span> </div>
                  <div class="conditions-block-text">
                    <p>Амплитуда движения стоимости акций от того….что цена «натворила» в прошлом. Мы научим вычислять закономерности истории и зарабатывать на этом уже сейчас!</p>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>Афинная геометрия</span> </div>
                  <div class="conditions-block-text">
                    <p>Аффинные проекции позволяют взглянуть на график движения цены с новой точки зрения, что помогает трейдеру реализовать нестандартные варианты торговых решений. Изучи способы построения аффинных графиков на занятиях в институте FENIX.</p>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>Психология торговли</span> </div>
                  <div class="conditions-block-text">
                    <p>Цена вверх - цена вниз. Закрыть сделку или держать? При открытии сделки в трейдере бурлит «битва эмоций». Как контролировать это в торговле? Наши преподаватели поделятся на лекции своим опытом.</p>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>Метод «Черепах»</span> </div>
                  <div class="conditions-block-text">
                    <p>Кто может торговать на рынке? Можно ли любого научить трейдингу? Да! И этот эксперимент уже проводил Ричард Денис. Все участники заработали ни один миллион при помощи одной простой стратегии. Интересно? На семинаре мы научим торговать по методу известных «Черепах»!</p>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>Свечной анализ</span> </div>
                  <div class="conditions-block-text">
                    <p>«Молот», «падающая звезда», «просвет в облаках», «брошенный младенец», «марибозу», «окно».... Что их объединяет? Они являются светлячками фондового рынка. На лекции Вы узнаете, какие ещё модели свечного анализа отлично помогают трейдерам зарабатывать!</p>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>Криптовалюта 2</span> </div>
                  <div class="conditions-block-text">
                    <p>Все чаще и чаще мы слышим о рекордных ценовых колебаниях криптовалют. Эти инструменты очень быстро растут и так же стремительно падают. Очень важно оказаться вовремя в числе покупателей ещё до начала роста. Ещё больше можно заработать и на быстром снижении стоимости этих инструментов. Как? Узнаете на семинаре «криптовалюты»! Следите за расписанием</p>
                  </div>
                </li>
                <li class="conditions-block">
                  <div class="conditions-block-link"><span class="icn"></span> <span>Программы компании</span> </div>
                  <div class="conditions-block-text">
                    <p>На этом занятии Вы узнаете, куда можно инвестировать депозит, чтобы получить ощутимую прибыль. Как инвестировать в свои знания, чтобы освободить время для жизни. У нас большое разнообразие специалистов, Вы обязательно найдёте своего проводника в Мире трейдинга!</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="reviews-slider">
    <div class="center">
      <div class="title">Отзывы наших студентов</div>
      <ul class="reviews-block-slider">
        <li class="slick-slider__item  ">
          <div class="reviews-slider__content">
            <p>Мне очень нравится учиться трейдерству в школе Fenix, я обучаюсь у Карины с октября 2017г., Пришла случайно со знакомым , но очень понравилось. Это цвет нашей нации .Ребята все умные , с юмором и очень опрятные. Посещаю как могу, побывала у всех на занятиях, Геннадий Попов очень хорошо передает свои знания Геннадий Попов обаятельный человек и очень умный, отзывчивый и строгий ,Алексей Игнатенко очень юморной,и всё объясняет так доходчиво , что после его лекции что-то поняла в трейдерстве, Он просто прагматик и реалист, не витает в облаках и всё это смог передать нам на лекциях.Василий Поданев хорошо говорит о фондовом рынке и его надо просто слушать и слышать.Денис Лисицын это просто трудоголик и его информация о нефти заставила меня просто ахать и охать, так много мы все узнали о ней нашей кормилице, Сергей Титюхин это менеджер и прагматик , ценящий своё и чужое время , очень скорпулёзный и дотошный , но это очень надо в трейдерстве., Думаю что все как и я просто наслаждаются лекциями по обзору рынка Андрея Григорьевича Перекальского, Я чувствую, что его все полюбили, он очень красиво и доходчиво выстраивает свою мысль:она понятна и доступна всем.Каждому отвечает на вопросы , никого не забывает.Чувствуется что он МАЖОР в хорошем понимании этого слова и пусть он МАЖОР , но ОН для меня СОВРЕМЕННЫЙ ГЕРОЙ . ОН НАПОМИНАЕТ МНЕ ДОН КИХОТА.Он сражается с рынком и все рассказывает нам - тем, кто только встал на этот путь, так, что мы полюбили эту, пока что не совсем понятную, деятельность на Forex.Вчера была еще и на лекции Альберта Кятова. Думала он такой же как и мы пришел учиться , а он уже столько отучился и рассказал нам о том рынке, о котором я как-то подозревала что он существует .Он подтвердил мою интуицию.Очень красивые девушки в Фениксе, парням очень трудно с ними находиться "Красота- это страшная сила" .так говорила актриса Фаина Раневская и это я теперь увидела воочию, а моя Карина вообще классика жанра, Она какая-то африканка , но говорит по-русски, очень скрытная , но добрая и очень знает хорошо возможности каждого своего ученика.....Очень здорово,. что есть такая школа FENIX с такими VIP-специалистами Good laky Седова Елена</p>
            <div class="reviews-name-wrap">
              <div class="reviews-name">
                Влад Письменный
              </div>
              <div class="date">
                <span>22 фев 2018 в 13:44</span>  <a href="#" class="soc-item soc-item-vk" target="_blank"> </a>
              </div>
            </div>
          </div>
        </li>

        <li class="slick-slider__item  ">
          <div class="reviews-slider__content">
            <p>Мне очень нравится учиться трейдерству в школе Fenix, я обучаюсь у Карины с октября 2017г., Пришла случайно со знакомым , но очень понравилось. Это цвет нашей нации .Ребята все умные , с юмором и очень опрятные. Посещаю как могу, побывала у всех на занятиях, Геннадий Попов очень хорошо передает свои знания Геннадий Попов обаятельный человек и очень умный, отзывчивый и строгий ,Алексей Игнатенко очень юморной,и всё объясняет так доходчиво , что после его лекции что-то поняла в трейдерстве, Он просто прагматик и реалист, не витает в облаках и всё это смог передать нам на лекциях.Василий Поданев хорошо говорит о фондовом рынке и его надо просто слушать и слышать.Денис Лисицын это просто трудоголик и его информация о нефти заставила меня просто ахать и охать, так много мы все узнали о ней нашей кормилице, Сергей Титюхин это менеджер и прагматик , ценящий своё и чужое время , очень скорпулёзный и дотошный , но это очень надо в трейдерстве., Думаю что все как и я просто наслаждаются лекциями по обзору рынка Андрея Григорьевича Перекальского, Я чувствую, что его все полюбили, он очень красиво и доходчиво выстраивает свою мысль:она понятна и доступна всем.Каждому отвечает на вопросы , никого не забывает.Чувствуется что он МАЖОР в хорошем понимании этого слова и пусть он МАЖОР , но ОН для меня СОВРЕМЕННЫЙ ГЕРОЙ . ОН НАПОМИНАЕТ МНЕ ДОН КИХОТА.Он сражается с рынком и все рассказывает нам - тем, кто только встал на этот путь, так, что мы полюбили эту, пока что не совсем понятную, деятельность на Forex.Вчера была еще и на лекции Альберта Кятова. Думала он такой же как и мы пришел учиться , а он уже столько отучился и рассказал нам о том рынке, о котором я как-то подозревала что он существует .Он подтвердил мою интуицию.Очень красивые девушки в Фениксе, парням очень трудно с ними находиться "Красота- это страшная сила" .так говорила актриса Фаина Раневская и это я теперь увидела воочию, а моя Карина вообще классика жанра, Она какая-то африканка , но говорит по-русски, очень скрытная , но добрая и очень знает хорошо возможности каждого своего ученика.....Очень здорово,. что есть такая школа FENIX с такими VIP-специалистами Good laky Седова Елена</p>
            <div class="reviews-name-wrap">
              <div class="reviews-name">
                Влад Письменный
              </div>
              <div class="date">
                <span>22 фев 2018 в 13:44</span>  <a href="#" class="soc-item soc-item-vk" target="_blank"> </a>
              </div>
            </div>
          </div>
        </li>

        <li class="slick-slider__item  ">
          <div class="reviews-slider__content">
            <p>Мне очень нравится учиться трейдерству в школе Fenix, я обучаюсь у Карины с октября 2017г., Пришла случайно со знакомым , но очень понравилось. Это цвет нашей нации .Ребята все умные , с юмором и очень опрятные. Посещаю как могу, побывала у всех на занятиях, Геннадий Попов очень хорошо передает свои знания Геннадий Попов обаятельный человек и очень умный, отзывчивый и строгий ,Алексей Игнатенко очень юморной,и всё объясняет так доходчиво , что после его лекции что-то поняла в трейдерстве, Он просто прагматик и реалист, не витает в облаках и всё это смог передать нам на лекциях.Василий Поданев хорошо говорит о фондовом рынке и его надо просто слушать и слышать.Денис Лисицын это просто трудоголик и его информация о нефти заставила меня просто ахать и охать, так много мы все узнали о ней нашей кормилице, Сергей Титюхин это менеджер и прагматик , ценящий своё и чужое время , очень скорпулёзный и дотошный , но это очень надо в трейдерстве., Думаю что все как и я просто наслаждаются лекциями по обзору рынка Андрея Григорьевича Перекальского, Я чувствую, что его все полюбили, он очень красиво и доходчиво выстраивает свою мысль:она понятна и доступна всем.Каждому отвечает на вопросы , никого не забывает.Чувствуется что он МАЖОР в хорошем понимании этого слова и пусть он МАЖОР , но ОН для меня СОВРЕМЕННЫЙ ГЕРОЙ . ОН НАПОМИНАЕТ МНЕ ДОН КИХОТА.Он сражается с рынком и все рассказывает нам - тем, кто только встал на этот путь, так, что мы полюбили эту, пока что не совсем понятную, деятельность на Forex.Вчера была еще и на лекции Альберта Кятова. Думала он такой же как и мы пришел учиться , а он уже столько отучился и рассказал нам о том рынке, о котором я как-то подозревала что он существует .Он подтвердил мою интуицию.Очень красивые девушки в Фениксе, парням очень трудно с ними находиться "Красота- это страшная сила" .так говорила актриса Фаина Раневская и это я теперь увидела воочию, а моя Карина вообще классика жанра, Она какая-то африканка , но говорит по-русски, очень скрытная , но добрая и очень знает хорошо возможности каждого своего ученика.....Очень здорово,. что есть такая школа FENIX с такими VIP-специалистами Good laky Седова Елена</p>
            <div class="reviews-name-wrap">
              <div class="reviews-name">
                Влад Письменный
              </div>
              <div class="date">
                <span>22 фев 2018 в 13:44</span>  <a href="#" class="soc-item soc-item-vk" target="_blank"> </a>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}

