{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <div class="breadcrumbs">
    <div class="breadcrumbs__center">
      <a href="/">Главная</a>
      <a href="/about-page-info">Об институте</a>
      <span>Цели и задачи</span>
    </div>
  </div>
  <div class="content">
    <div class="center">
      <div class="title">Цели и задачи</div>
      <div class="content-wrap">
        <aside>
          {{ render(controller('App\\Controller\\SubMenuAboutPageController::index')) }}
          {{ render(controller('App\\Controller\\NewsController::sideBarBlock')) }}
        </aside>

        <div class="content-block">
          <p>Цель Института Трейдинга и Инвестиций «Феникс» – создать сообщество трейдеров-единомышленников и предоставить всем желающим возможность изучать финансовые рынки, получать навыки анализа и психологии, а также общаться с близкими по духу людьми.</p>
          <p>Мы верим, что общение в среде трейдеров, обмен мнением и опытом порождает новые идеи и позволяет сообществу преуспеть там, где трейдер-одиночка достигнет предела своих познаний в рынке.</p>
          <p>Наша задача – запустить процесс взаимовыгодного сотрудничества, при котором новички смогут получать знания от опытных трейдеров в обмен на свой свежий взгляд и нестандартные ходы. Этот подход уже принёс свои плоды – именно в ходе обсуждений и обмена мнениями сформировалась коллективная стратегия Института Трейдинга и Инвестиций «Феникс». И мы уверены, что это только начало.</p>
          <p>Новые идеи, новые методы, новые подходы появляются каждый день, и мы стремимся к тому, чтобы каждый слушатель Института Трейдинга и Инвестиций «Феникс» смог получать прибыль из того, что мы изучаем вместе. Для этого существуют мастер-группы, семинары с участием опытных трейдеров и неформальные встречи слушателей разных уровней.</p>
          <p>Мы хотим, чтобы наши соратники получали знания и доход, используя инфраструктуру, методики и знания сообщества Института Трейдинга и Инвестиций «Феникс».</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}