{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <div class="breadcrumbs">
    <div class="breadcrumbs__center">
      <a href="/">Главная</a>
      <a href="/about-page-info">Об институте</a>
      <a href="/about-page-info/teachers/">Преподаватели</a>
      <span>{{ items.name }}</span>
    </div>
  </div>
  <div class="content trainer-wrapper">
    <div class="center">
      <div class="title">{{ title }}</div>
      <div class="content-wrap">
        <aside>
          {{ render(controller('App\\Controller\\SubMenuAboutPageController::index')) }}
          {{ render(controller('App\\Controller\\NewsController::sideBarBlock')) }}
        </aside>
        <div class="content-block">
          <div class="column">
            <div class="column-item">
              <div class="trainer-block-img"><img src="/images/teachers/{{ items.imageName }}" alt=""></div>
              <p>{{ items.aboutMe }}</p>
            </div>
            <div class="column-item">
              <div class="trainer-block-content">
                <div class="trainer-block-name">{{ items.name }}</div>
                {% if items.position %}
                  <div class="trainer-block-subtitle">{{ items.position }}</div>
                {% endif %}
                {% if items.experience %}
                  <div class="trainer-block-text">{{ items.experience }}</div>
                {% endif %}
                <div class="trainer-block-education">
                  {% if items.education %}
                  <div class="trainer-block-education-title">
                    Образование
                  </div>
                  <p>{{ items.education }}</p>
                </div>
                {% endif %}
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}