{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <div class="breadcrumbs">
    <div class="breadcrumbs__center">
      <a href="/">Главная</a>
      <a href="/about-page-info">Об институте</a>
      <span>Преподаватели</span>
    </div>
  </div>
  <div class="content trainer-wrapper">
    <div class="center">
      <div class="title">{{ title }}</div>
      <div class="content-wrap">
        <aside>
          {{ render(controller('App\\Controller\\SubMenuAboutPageController::index')) }}
          {{ render(controller('App\\Controller\\NewsController::sideBarBlock')) }}
        </aside>
        <div class="content-block">
          <div class="trainer-block  ">
            {% for item in items %}
              <div class="trainer-block-item">
                <div class="trainer-block-img"><img src="/images/teachers/{{ item.imageName }}" alt=""></div>
                <div class="trainer-block-content">
                  <div class="trainer-block-name">{{ item.name }}</div>
                  {% if item.position %}
                    <div class="trainer-block-subtitle">{{ item.position }}</div>
                  {% endif %}
                  {% if item.experience %}
                    <div class="trainer-block-text">{{ item.experience }}</div>
                  {% endif %}
                  <a href="{{ path('teacher_show', {'id': item.id}) }}" class="btn btn-link">Подробно</a>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}