{% extends 'base.html.twig' %}
{% set week =
  {
    'Monday': 'Понедельник',
    'Tuesday': 'Вторник',
    'Wednesday': 'Среда',
    'Thursday': 'Четверг',
    'Friday': 'Пятница',
    'Saturday': 'Суббота',
    'Sunday': 'Воскресенье',
  }
%}
{% set month =
  {
    'January': 'Января',
    'February': 'Февраля',
    'March': 'Марта',
    'April': 'Апреля',
    'May': 'Мая',
    'June': 'Июня',
    'July': 'Июля',
    'August': 'Августа',
    'September': 'Сентября',
    'October': 'Октября',
    'November': 'Ноября',
    'December': 'Декабря',
  }
%}


{% block title %}{{ title }}{% endblock %}

{% block content %}

  <div class="breadcrumbs">
    <div class="breadcrumbs__center">
      <a href="/">Главная</a>
      <span>Расписание занятий</span>
    </div>
  </div>
  <div class="content timetable">
    <div class="center">
      <div class="title">Расписание занятий</div>
      <div class="content-wrap">
        <aside>
          {{ render(controller('App\\Controller\\NewsController::sideBarBlock')) }}
        </aside>
        <div class="content-block">
          <div class="calendar">
            <div class="column">
              <div class="column-item">
                <div id="calendar" class="calendar-item"></div>
              </div>
              <div class="column-item">
                <div class="calendar-item-wrap">
                  <div class="calendar-date-item">
                    <span>15</span> <span>Ноября 2018</span>
                  </div>
                  <div class="dropdown-wrap">
                    <div class="dropdown-block">
                      <div class="dropdown-text">Выбор программы</div>
                      <select class="dropdown" name="" id="">
                        <option value="" class="label">Все программы</option>
                        {% for program in programs %}
                          <option value="{{ program.name }}">{{ program.name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="dropdown-block">
                      <div class="dropdown-text">Выбор преподавателя</div>
                      <select class="dropdown" name="" id="">
                        <option value="" class="label">Все преподаватели</option>
                        {% for author in authors %}
                          <option value="{{ author.name }}">{{ author.name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% for day in data %}
              {% if day.items %}
                <div class="calendar-item-info">
                  <div class="calendar-date-item">{{ week[day.date|date("l")] }}, {{ day.date|date("j") }} {{ month[day.date|date("F")] }} </div>
                  {% for item in day.items %}
                    <div class="column">
                      <div class="column-item">
                        <div class="calendar-time">{{ item.getEventTime().date|date("H:i") }}</div>
                      </div>
                      <div class="column-item">
                        <p><span class="blue">{{ item.getEventProgram().name }}: </span>{{ item.getEventLessonType().name }} {{ item.title }}</p>
                        <p>Преподователь: <span class="blue">{{ item.getEventAuthor().name }}</span></p>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include '/blocks/static_block/write _all_courses.html.twig' %}
{% endblock %}