{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <div class="breadcrumbs">
    <div class="breadcrumbs__center">
      <a href="/">Главная</a>
      <span>Обучение и практика</span>
    </div>
  </div>
  <div class="content training-practice">
    <div class="center">
      <div class="title">{{ title }}</div>
      <div class="content-wrap">
        <aside>
          {{ render(controller('App\\Controller\\SubMenuTrainingPracticeController::index')) }}
          {{ render(controller('App\\Controller\\NewsController::sideBarBlock')) }}
        </aside>

        {{ render(controller('App\\Controller\\EducationalCoursesController::fullVersionBlock')) }}
      </div>
    </div>
  </div>
{% endblock %}

