{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <div class="breadcrumbs">
    <div class="breadcrumbs__center">
      <a href="/">Главная</a>
      <a href="/about-page-info">Об институте</a>
      <span>Вакансии</span>
    </div>
  </div>
  <div class="content vacancy">
    <div class="center">
      <div class="title">{{ title }}</div>
      <div class="content-wrap">
        <aside>
          {{ render(controller('App\\Controller\\SubMenuAboutPageController::index')) }}
          {{ render(controller('App\\Controller\\NewsController::sideBarBlock')) }}
        </aside>
        <div class="content-block">
          <p>В связи с расширением финансового центра Института Трейдинга и Инвестиций «Феникс» на конкурсной основе открыты новые вакансии по следующим позициям:</p>
          <ul class='conditions-block-vacancy'>
            {% for item in items %}
              <li class="conditions-block ">
                <div class="conditions-block-link"> <span>{{ item.title }}</span> <span class="icn"></span></div>
                <div class="conditions-block-text">
                  <p><strong>Что будет входить в ваши обязанности:</strong></p>
                  <ul>
                    <li>{{ item.responsibility|replace({'\n': '<p>'})|raw }}</li>
                  </ul>
                  <p><strong>Требования:</strong></p>
                  <ul>
                    <li>{{ item.requirement|replace({'\n': '<p>'})|raw }}</li>
                  </ul>
                  <p><strong>Мы предлагаем:</strong></p>
                  <ul>
                    <li>{{ item.offer|replace({'\n': '<p>'})|raw }}</li>
                  </ul>
                  <p class="italic"> Отклик присылайте на почту contact@itifenix.ru с пометкой HR-MANAGER с указанием желаемой вакансии и прикрепленным CV  </p>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  {% include 'blocks/static_block/practice_block.html.twig' %}
{% endblock %}