.analytics-section .title {
	text-transform: uppercase;
	font-family: "Oswald", Arial, sans-serif;
}

.analytics-section-block {
	margin-bottom: 40px;
	width: 100%;
	max-width: 1070px;	
	display: flex;
	flex-direction: column;
}


.analytics-section .content-block {
	padding-left: 35px;
}

.analytics-section p {
	font-size: 14px;
	line-height: 26px;
}

.analytics-section-block-title {
	padding-bottom: 5px;
	font-size: 25px;
	line-height: 45px;	
	color: #3c3c3c;
	text-transform: uppercase;
	font-family: "GothamProBold", Arial, sans-serif;	
	position: relative;
}

.analytics-section .date,
.analytics-section .rating {
	font-size: 12px;
}

.analytics-section .info-block {
	max-width: 115px;
}

.analytics-section-block-title:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background: #e4e4e4;
}

.analytics-section .column {
	padding-top: 15px;
	justify-content: space-between;
	max-width: 1070px;	
}

.analytics-section .content-block .column-item:first-child {
	margin-right: 0;
}

.analytics-section .news-block-img {
	margin-bottom: 20px;
}

.analytics-section .column-item:last-child .news-block-title {
	font-size: 16px;
}

.analytics-section .column-item:last-child .news-block-img {
	margin-right: 0;
	position: relative;
	padding-top: 46%;
	overflow: hidden;
}

.analytics-section .column-item:last-child .news-block-img img {
	position: absolute;
	top: 0;
	left: 0; 	
} 



.analytics-section .content-block .column-item:first-child .news-block-img {
	margin-right: 0;
	position: relative;
	padding-top: 55%;
	overflow: hidden;
	max-width: 530px;
}

.analytics-section .column-item:first-child .news-block-img img {
	position: absolute;
	top: 0;
	left: 0; 	
}

.analytics-section .content-block .column-item:first-child,
.analytics-section .content-block .column-item {
	width: 50%;	
}


.analytics-section .news-block-item {
	flex-direction: column;
	align-items: center;
}

.analytics-section .content-block .column-item:last-child {
	display: flex;
	justify-content: space-between;
}
.analytics-section .content-block .column-item:first-child .news-block-item {
	padding-right: 14px;
	box-sizing: border-box;
}

.analytics-section .content-block .column-item:last-child .news-block-item{
	width:  50%;	
	padding: 0 14px;
	box-sizing: border-box;
	position: relative;
}

.analytics-section .content-block .column-item:last-child .news-block-item:last-child{
	padding-right: 0;
}
.analytics-section .content-block .column-item:last-child .news-block-item:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 1px;
	height: 100%;
	background: #e4e4e4;
}


.analytics-section .all-news {
	padding-right: 36px;
	display: block;
	text-transform: uppercase;
	color: #1800ff;
	font-size: 14px;
	line-height: 28px;
	font-family: "GothamProBold", Arial, sans-serif;
	box-sizing: border-box;
	position: relative;	
	text-decoration: none;
	width: 150px;
	align-self: flex-end;
}

.analytics-section .all-news:before {
	content: '';
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -5px;
	width: 10px;
	height: 10px;
	border-bottom: 1px solid #1800ff;
	border-right: 1px solid #1800ff;
	transform: rotate(-45deg);
}

.analytics-section .news-block-content-top {	 
	height: 355px;
	overflow: hidden;
}






@media (max-width: 1340px) {
	.analytics-section .column {
		flex-direction: column;
	}
	.analytics-section .content-block .column-item:first-child, 
	.analytics-section .content-block .column-item {
		width:  60%;
	}
}

@media (max-width: 1023px) {
	.analytics-section .news-block-content-top {
		height: 180px;
	}
	.analytics-section .content-block {
		    padding-left: 0;
	}
}


@media (max-width: 768px) {
	.content-block .column-item:first-child {
		width: 100%;
		margin: 0 0 20px;
		order: 1;
	}
	.analytics-section .content-block .column-item:last-child {
		flex-direction: column;
	}
	.analytics-section .content-block .column-item:last-child .news-block-item {
		width: 100%;
	}
	.analytics-section .column-item:last-child .news-block-img {
		position: relative;
		padding-top: 55%;
		overflow: hidden;
		max-width: 530px;
	}
	.analytics-section .content-block .column-item:last-child .news-block-item {
		padding: 0;
	}
	.analytics-section .content-block .column-item:last-child .news-block-item:before {
		display: none;
	}
	.analytics-section .column {
		align-items: center;
	}
	.analytics-section .content-block .column-item:first-child .news-block-item {
		padding-right: 0;
	}
}

@media (max-width: 560px) {
	.analytics-section .content-block .column-item:first-child, 
	.analytics-section .content-block .column-item {
		width:  100%;
	}
}
.analytics-section .all-news:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 0;
	width: 25px;
	height: 1px;
	background: #1800ff;
}
