

.cripto-faculty .block-advn-list{
	max-width: 1170px;
	width:  100%; 
}

.cripto-faculty .block-advn {
	margin-top: 50px;
	padding-right: 10px;
	box-sizing: border-box;
}

.cripto-faculty .block-advn .subtitle {
	min-height: auto;
}


.cripto-faculty-info {
	padding-left: 68px;
	padding-right: 10px;
	box-sizing: border-box;
}

.cripto-faculty .subtitle {
    font-family: 'Oswald', Arial, sans-serif;
    font-weight: 600;
    line-height: 36px;
    font-size: 26px;
    max-width: 100%;
    margin-bottom: 20px;
    padding-bottom: 20px;
    text-align: left;
    text-transform: none;
}   

.cripto-faculty .subtitle:before {
	right: auto;
} 

.cripto-faculty h4 {
	margin-bottom: 20px;
    font-family: 'Oswald', Arial, sans-serif;
    font-weight: 600;
    line-height: 36px;
    font-size: 26px;	
}

.cripto-faculty .conditions-block-link:before {
	display: none;
}

.conditions-block-wrapper {
	max-width:  1170px;
	width: 100%;
	box-shadow:0 0 40px rgba(0,0,0,.1);
}

.conditions-block-wrapper-img img {
	display: block;
	width: 100%;
}

.cripto-faculty-info .form__block {
	flex-direction: column;
}

.cripto-faculty-info .column {
	justify-content: space-between;
	max-width:  1110px;
}


.cripto-faculty-info .conditions-block-text {
	padding-top: 40px;
}

.conditions-block-text .column-item:first-child {
	padding-left: 40px;
	box-sizing: border-box;
}

.conditions-block-wrapper-bottom {
	padding: 40px;
	display:  flex;
	justify-content: space-between;
	box-sizing: border-box;
	align-items: center;
}

.conditions-block-title {
    font-family: 'Oswald', Arial, sans-serif;
    font-weight: 600;
    line-height: 36px;
    font-size: 26px;	
    color: #2c2c2c;
    max-width:  690px;
    width: 100%;
}

.cripto-faculty .conditions-block-link {
	padding: 0 45px 0 0;
	font-family: "GothamProBold", Arial, sans-serif;	
	font-size: 20px;
	line-height:  20px;
	text-transform: uppercase;
	color: #242424;
	position: relative;
	box-sizing: border-box;
	display: block;
}

.cripto-faculty .conditions-block-link:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 16px;
	height: 16px;
	border-bottom: 2px solid #242424;
	border-right: 2px solid #242424;
	transform: rotate(-45deg);
	transition: transform 300ms ease;
}

.cripto-faculty .conditions-block {
	margin-bottom: 100px;
}

.cripto-faculty .conditions-block-link.open1:after {
 	transform: rotate(45deg);
}



@media (max-width: 1380px) {
	.conditions-block-wrapper-bottom {
		flex-direction: column;
	}
	.conditions-block-title {
		margin-bottom: 20px;
	}
}


@media (max-width: 1023px) {
	.cripto-faculty .block-advn {
		padding-right: 0;
	}
	.cripto-faculty-info {
		padding: 0 10px;
	}
	.cripto-faculty .conditions-block {
		margin-bottom: 20px;
	}
	.cripto-faculty-info .column {
		flex-direction: column;
	}
	.content-block .column-item:last-child {
		width: 100%;
	}	
	.conditions-block-text .column-item:first-child {
		padding-left: 0;
		margin-right: 0;
		width: 100%;
	}
}

@media (max-width: 400px) { 
	.cripto-faculty .subtitle,
	.conditions-block-title {
		font-size: 20px;
	}
}
