.news-page .title {
	font-family: 'Oswald', Arial, sans-serif;
	text-transform: uppercase;
}

.news-page  .content-block {
	padding-left: 35px;
}

.news-page .news-page-wrap {
	padding-bottom: 100px;
	width: 100%;
	max-width: 1070px;	
}

.news-page .content-block .column {		
	max-width: 1070px;	
	justify-content: space-between;
	position: relative;
}



.news-page .content-block .column-item:first-child {
	padding-top: 20px;
	position: relative;
	padding-right: 30px;
	width: 73%;
	box-sizing: border-box;
	margin-right: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.news-page .content-block .column-item:first-child:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 96%;
	height: 1px;
	background: #e4e4e4;
}

.news-page .content-block .column-item:last-child {
	width: 27%;
	padding-left: 30px;
	box-sizing: border-box;
	position: relative;
}


.news-page .content-block .column-item:last-child:before {
	content: '';
	position: absolute;
	top: 20px;
	left: 0;
	width: 1px;
	height: 60%;
	background: #e4e4e4;
}

.news-page .content-block .column-item:last-child .news-block-title {
	text-transform: none;
	font-size: 14px;
}

.news-page .content-block .column-item:first-child .news-block-img {
	margin-right: 0;
	position: relative;
	padding-top: 55%;
	overflow: hidden;
	max-width: 100%;
}

.news-page .column-item:first-child .news-block-img img {
	position: absolute;
	top: 0;
	left: 0; 	
}

.news-page .column-item:last-child .news-block-img {
	margin-right: 0;
	position: relative;
	padding-top: 46%;
	overflow: hidden;
}

.news-page .column-item:last-child .news-block-img img {
	position: absolute;
	top: 0;
	left: 0; 	
} 

.news-page .news-block-item {
	flex-direction: column;
	align-items: center;
}

.news-subtitle {   
	padding: 20px 0;
	font-size: 16px;
	line-height: 16px;
	color: #3c3c3c;
	text-transform: uppercase;
	font-family: "GothamProBold", Arial, sans-serif; 
	position: relative;
	 
}
 

.news-page .all-news {
	padding-left: 36px;
	display: block;
	text-transform: uppercase;
	color: #1800ff;
	font-size: 14px;
	line-height: 28px;
	font-family: "GothamProBold", Arial, sans-serif;
	box-sizing: border-box;
	position: relative;	
	text-decoration: none;
	width: 210px;
	align-self: flex-end;
}

.news-page .all-news:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -5px;
	width: 10px;
	height: 10px;
	border-bottom: 1px solid #1800ff;
	border-right: 1px solid #1800ff;
	transform: rotate(135deg);
}
.news-page .all-news:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 0; 
	width: 25px;
	height: 1px; 
	background: #1800ff; 
}







@media (max-width: 1023px) {
	.news-page .content-block .column-item:last-child {
		display: none;
	}
	.news-page .content-block .column {
		justify-content: center;
	}
	.news-page .content-block .column-item:first-child {
		padding-right: 0;
	}
	.news-page .content-block {
		padding-left: 0;
	}
}





@media (max-width: 768px) { 
	.news-page .content-block .column-item:first-child {
		width: 100%;
	}
}