<div  class="about">
  <div class="rightarea-bg"></div>
  <div class="center">
    <div class="rightarea-content">
      <div class="subtitle">
        Об институте
      </div>
      <p>
        Институт Трейдинга и Инвестиций «Феникс» занимается изучением и моделированием ситуаций на финансовых рынках и обучением специалистов в сфере валютно-биржевых торговых инструментов. Подробнее о деятельности Института вы можете узнать в соответствующем разделе.
      </p>
      <a href="/about-page-info" class="btn">Подробнее</a>
    </div>
  </div>
</div>