<div class="block-advn">
  <div class="center">
    <div class="title">
      НАШИ ПРЕИМУЩЕСТВА
    </div>
    <div class="block-advn-list">
      <div class="block-advn-item">
        <div class="block-advn-img">
          <img src="/img/block-advn-img-1.png" alt="">
        </div>
        <div class="subtitle">
          {{ items.0.title }}
        </div>
        <div class="block-advn-text">
          <p>{{ items.0.body }}</p>
        </div>
      </div>

      <div class="block-advn-item">
        <div class="block-advn-img">
          <img src="/img/block-advn-img-2.png" alt="">
        </div>
        <div class="subtitle">
          {{ items.1.title }}
        </div>
        <div class="block-advn-text">
          <p>{{ items.1.body }}</p>
        </div>
      </div>

      <div class="block-advn-item">
        <div class="block-advn-img">
          <img src="/img/block-advn-img-3.png" alt="">
        </div>
        <div class="subtitle">
          {{ items.2.title }}
        </div>
        <div class="block-advn-text">
          <p>{{ items.2.body }}</p>
        </div>
      </div>
    </div>
  </div>
</div>