<div class="club">
  <div class="rightarea-bg"></div>
  <div class="center">
    <div class="rightarea-content">
      <div class="subtitle">
        Клубная жизнь
      </div>
      <p>
        Слушатели и участники Института Трейдинга и Инвестиций «Феникс» – это сообщество единомышленников, которые встречаются, обмениваются опытом и мнениями, вместе проводят время и заводят новые знакомства. Приходите на мероприятия клуба и убедитесь сами!
      </p>
      <a href="/about-page-info/corporate-life" class="btn">Подробнее</a>
    </div>
  </div>
</div>