<div class="content-block">
  <p>Специалисты Института Трейдинга и Инвестиций «Феникс» совмещают теоретические занятия с практической
    отработкой навыков. Обучение на курсах трейдеров в Москве проходит как в традиционной очной форме, так и
    дистанционно.</p>

  <div class="course-list">
    {% for item in items %}
      <div class="course-item">
      <div class="course-title">
        <div class="course-title-wrap">
          <span class="course-icn"><img src="/images/icons/{{ item.imageName }}" alt=""></span>
          <span>{{ item.title }}</span>
        </div>
      </div>

      <div class="course-text">
        <div class="course-subtitle">
          <span class="course-icn"><img src="/images/icons/{{ item.imageName }}" alt=""></span>
          <span>{{ item.numberOfLessons }} занятий</span>
        </div>
        <p>
          {{ item.body }}
        </p>
      </div>
      <a href="{{ item.fullPage}}" class="btn">Подробнее</a>
    </div>
    {% endfor %}
  </div>

</div>