<div class="course">
  <div class="center">
    <div class="title">
      ОБРАЗОВАТЕЛЬНЫЕ КУРСЫ
    </div>
    <div class="course-list">
    {% for item in items %}
      <div class="course-item">
        <div class="course-title">
          {{ item.title }}
        </div>
        <div class="course-text">
          <p>{{ item.body }}</p>
        </div>
        <a href="{{ item.fullPage}}" class="btn">Подробнее</a>
      </div>
    {% endfor %}
    </div>
  </div>
</div>