<div class="practice">
  <div class="leftarea-bg"></div>
  <div class="center">
    <div class="leftarea-content">
      <div class="subtitle">
        Запишитесь на любой образовательный курс
      </div>
      <p>
        Образовательные программы Института Трейдинга и Инвестиций «Феникс» разработаны для разных уровней подготовки
        и направлены на формирование и углубление понимания принципов функционирования финансовых рынков и
        использование этих знаний для получения прибыли от торговли.
      </p>
      <a href="/training-practice" class="btn">Подробнее</a>
    </div>
  </div>
</div>