{% extends 'base.html.twig' %}

{% block title %}Покупка курса{% endblock %}

{% block content %}
  <div class="content payment">
    <div class="center">
      <div class="form form-payment">
        {{ form_start(form) }}
        <div class="my-custom-class-for-errors">
          {{ form_errors(form) }}
        </div>
        <div class="form__block">
          <div class="form__line">
            {{ form_row(form.Last_Name) }}
          </div>
          <div class="form__line">
            {{ form_row(form.Name) }}
          </div>
          <div class="form__line">
            {{ form_row(form.Middle_Name) }}
          </div>
          <div class="form__line">
            {{ form_row(form.Email) }}
          </div>
          <div class="form__line">
            {{ form_row(form.Phone) }}
          </div>
          <div class="form__line form__line--checkbox">
            {{ form_widget(form.Oferta) }}
            {{ form_label(form.Oferta) }}
          </div>
          <div class="form__line form__line--checkbox">
            {{ form_widget(form.Personal_Data) }}
            {{ form_label(form.Personal_Data) }}
          </div>
          <div class="form__line form__line--submit green">
            {{ form_row(form.save) }}
          </div>
        </div>
        {{ form_end(form) }}
      </div>
    </div>
  </div>
{% endblock %}


