{% macro menu(items, admin) %}

  {% import _self as self %}

  <ul class="nav-list">
    {% for item in items if item.enabled %}
      <li class="nav-item" data-id="{{ item.id }}">
        <a href="{{ item.url }}"
           title="{{ item.name }}">{{ item.name|slice(0, 70) }}{% if item.name|length > 70 %}...{% endif %}</a>
      </li>
    {% endfor %}
  </ul>
{% endmacro %}

