{% macro menu(items, admin) %}

  {% import _self as self %}

  <ul>
    {% for item in items if item.enabled %}
      <li data-id="{{ item.id }}">
        <a href="{{ item.url }}"
           title="{{ item.name }}">{{ item.name|slice(0, 70) }}{% if item.name|length > 70 %}...{% endif %}</a>
        {% if item.hasChild() %}
          {{ self.sub_menu(item.children,item.url) }}
        {% endif %}
      </li>
    {% endfor %}
    <li>
      <a href="mailto:contact@itifenix.ru" class="work-info-link ">
        <span><img src="/img/bg-mail-w.png" alt=""></span> contact@itifenix.ru
      </a>
    </li>
    <li>
      <a href="tel:88007759820" class="work-info-link ">
        <span><img src="/img/bg-phone-w.png" alt=""></span>
        8 (800) 775-98-20
      </a>
    </li>
    <li>
      <span class="work-info-block">
        <span><img src="/img/bg-time-w.png" alt=""></span>
        Пн-Пт  10-21
      </span>
    </li>
  </ul>
{% endmacro %}

{% macro sub_menu(items, header_url) %}

  {% import _self as self %}

  <ul>
    {% for item in items %}
      <li data-id="{{ item.id }}">
        <a href="{{ header_url }}{{ item.url }}"
           title="{{ item.name }}">{{ item.name|slice(0, 70) }}{% if item.name|length > 70 %}...{% endif %}</a>
        {% if item.hasChild() %}
          {{ self.sub_menu(item.children) }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endmacro %}
