{% macro menu(active_page,items, admin) %}
  <ul class="nav-list">
    {% for item in items if item.enabled %}
      {% if active_page == item.url %}
        <li class="nav-item active" data-id="{{ item.id }}">
      {% else %}
        <li class="nav-item" data-id="{{ item.id }}">
      {% endif %}
      <a href="{{ item.url }}" title="{{ item.name }}">{{ item.name|slice(0, 70) }}{% if item.name|length > 70 %}...{% endif %}</a>
        {% if item.hasChild() %}
          {{ self.menu(item.children, admin) }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endmacro %}

{#{% macro menu(active_page,items, admin) %}#}
  {#<ul class="nav-list">#}
    {#{% for item in items if item.enabled %}#}
      {#{% if active_page == item.url %}#}
        {#<li class="nav-item active" data-id="{{ item.id }}">#}
          {#<a href="{{ item.url }}"#}
             {#title="{{ item.name }}">{{ item.name|slice(0, 70) }}{% if item.name|length > 70 %}...{% endif %}</a>#}
          {#{% if item.hasChild() %}#}
            {#{{ self.menu(item.children, admin) }}#}
          {#{% endif %}#}
        {#</li>#}
      {#{% else %}#}
        {#<li class="nav-item" data-id="{{ item.id }}">#}
          {#<a href="{{ item.url }}"#}
             {#title="{{ item.name }}">{{ item.name|slice(0, 70) }}{% if item.name|length > 70 %}...{% endif %}</a>#}
          {#{% if item.hasChild() %}#}
            {#{{ self.menu(item.children, admin) }}#}
          {#{% endif %}#}
        {#</li>#}
      {#{% endif %}#}
    {#{% endfor %}#}
  {#</ul>#}
{#{% endmacro %}#}