{% macro menu( active_page, menu_title, procreator, items, admin) %}
  {% import _self as self %}
  <ul class="nav-list">
    <li class="nav-item nav-item--active">
      <a href="{{ procreator }}">{{ menu_title }}</a>
      <ul class="sub-menu ">
        {% for item in items if item.enabled %}
          {% if active_page == item.url %}
          <li class="sub-menu-item sub-menu-item--active" data-id="{{ item.id }}">
          {% else %}
            <li class="sub-menu-item" data-id="{{ item.id }}">
          {% endif %}
          <a href="{{ procreator }}{{ item.url }}"
             title="{{ item.name }}">{{ item.name|slice(0, 70) }}{% if item.name|length > 70 %}...{% endif %}
          </a>
          {% if item.hasChild() %}
            {{ self.sub_menu(item.children) }}
          {% endif %}
          </li>
        {% endfor %}
      </ul>
    </li>
  </ul>
{% endmacro %}

{% macro sub_menu(items) %}

  {% import _self as self %}

  <ul class="sub-menu-nav">
    {% for item in items %}
      <li class="sub-menu-nav-item" data-id="{{ item.id }}">
        <a href="{{ item.url }}"
           title="{{ item.name }}">{{ item.name|slice(0, 70) }}{% if item.name|length > 70 %}...{% endif %}</a>
        {% if item.hasChild() %}
          {{ self.sub_menu(item.children) }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endmacro %}
