<div class="news-subtitle">Аналитика</div>
{% for item in items %}
  <a href="/analytics/{{ item.analyticsType.typeAlias }}/{{ item.id }}" class="news-block-item">
    <span class="news-block-img"><img src="/images/analytics/{{ item.imageName }}" alt=""></span>
    <span class="news-block-content">
      <span class="news-block-title">{{ item.title }}</span>
    </span>
  </a>
{% endfor %}
