{% set week =
{
'Monday': 'Пн',
'Tuesday': 'Вт',
'Wednesday': 'Ср',
'Thursday': 'Чт',
'Friday': 'Пт',
'Saturday': 'Су',
'Sunday': 'Вс',
}
%}
{% set month =
{
'January': 'Января',
'February': 'Февраля',
'March': 'Марта',
'April': 'Апреля',
'May': 'Мая',
'June': 'Июня',
'July': 'Июля',
'August': 'Августа',
'September': 'Сентября',
'October': 'Октября',
'November': 'Ноября',
'December': 'Декабря',
}
%}
<div class="calendar">
  <div class="center">
    <div class="title">Расписание занятий</div>
    <div class="column">
      <div class="column-item">
        <div id="calendar" class="calendar-item"></div>
      </div>
      <div class="column-item">
        <div class="calendar-block-list">
          {% for day in data %}
            {% if day.items %}
              <div class="calendar-block-item calendar-block-item--active">
                <div class="calendar-block-date">
                  {{ week[day.date|date("l")] }}, {{ day.date|date("j") }} {{ month[day.date|date("F")] }}
                </div>
                <ul>
                  {% for item in day.items %}
                    <li>
                      <span class="time">{{ item.getEventTime().date|date("H:i") }}</span>
                      <span>{{ item.title }}</span>
                    </li>
                  {% endfor %}
                </ul>
              </div>
              {#{{ dump(day) }}#}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>