{% block block_contacts %}{% include 'blocks/footer--block-contacts.html.twig' %}{% endblock %}
<footer class="footer">
  <div class="center">
    <div class="column">
      <div class="column-item">
        {{ render(controller('App\\Controller\\FooterMenuController::index')) }}
      </div>
      <div class="column-item">
        <div class="footer-info-img">
          <img src="/img/footer-info-img.png" alt="">
        </div>
        <div class="footer-info-text">
          Лицензия на осуществление образовательной деятельности № 037708 от 21.7.2016 года.
        </div>
      </div>
    </div>
  </div>
</footer>