<div class="block-contacts">
  <div class="center">
    <div class="column">
      <div class="column-item">

        <div class="form">
          <form action="">
            <div class="form__title">
              Контакты
            </div>
            <div class="form__block">
              <div class="column">
                <div class="column-item">
                  <div class="form__line">
                    <label for="name">Ваше имя</label>
                    <input type="text" name="name" placeholder=" ">
                  </div>
                  <div class="form__line">
                    <label for="phone">Телефон</label>
                    <input type="text" name="phone" placeholder=" ">
                  </div>
                  <div class="form__line">
                    <label for="email">E-mail</label>
                    <input type="text" name="email" placeholder=" ">
                  </div>

                  <div class="form__line form__line--checkbox">
                    <input id="agree" type="checkbox">
                    <label for="agree">Согласен на обработку персональных данных </label>
                  </div>
                </div>
                <div class="column-item">
                  <div class="form__line form__line--textarea">
                    <label for="textarea">Текст сообщения</label>
                    <textarea name="textarea" id="" ></textarea>
                  </div>
                  <div class="form__line form__line--submit">
                    <button type="submit" value="">отправить</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="column-item">
        <div class="work-info">
          <div class="work-info-item address">
            <div class="work-info--title">
              Адрес
            </div>

            <div class="work-info-block">
              <span><img src="/img/bg-address.png" alt=""></span>
              109028 г. Москва, Хохловский пер., 16, стр.1 ,офис 16 2 этаж
            </div>
          </div>
          <div class="work-info-item phone">
            <div class="work-info--title">
              Телефон
            </div>

            <a href="tel:88007759820" class="work-info-link ">
              <span><img src="/img/bg-phone.png" alt=""></span>
              8 (800) 775-98-20
            </a>
          </div>
          <div class="work-info-item mail">
            <div class="work-info--title">
              Почта
            </div>

            <a href="mailto:contact@itifenix.ru" class="work-info-link ">
              <span><img src="/img/bg-mail.png" alt=""></span>contact@itifenix.ru
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>