<header class="header">
  <div class="header-top">
    <div class="center">
      <div class="column">
        <div class="column-item">
          <div class="work-info">
            <div class="work-info-item mail">
              <a href="mailto:contact@itifenix.ru" class="work-info-link ">
                <span><img src="{{ asset('img/bg-mail.png') }}" alt=""></span>
                contact@itifenix.ru
              </a>
            </div>
            <div class="work-info-item phone">
              <a href="tel:88007759820" class="work-info-link ">
                <span><img src="{{ asset('img/bg-phone.png') }}" alt=""></span>
                8 (800) 775-98-20
              </a>
            </div>
            <div class="work-info-item address">
              <div class="work-info-block">
                <span><img src="{{ asset('img/bg-time.png') }}" alt=""></span>
                Пн-Пт 10-21
              </div>
            </div>
          </div>
        </div>
        <div class="column-item">
          <div class="soc">
            <div class="soc-list">
              <a href="#" class="soc-item soc-item-f" target="_blank"> </a>
              <a href="#" class="soc-item soc-item-vk" target="_blank"> </a>
              <a href="#" class="soc-item soc-item-tw" target="_blank"> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="nav">
    {{ render(controller('App\\Controller\\HeaderMenuController::index')) }}
  </div>
</header>