<div class="new-block-list">
  <div class="title">{{ title }}</div>
  {% for item in items %}
    <a href="/about-page-info/news/{{ item.id }}" class="new-block-list-link">{{ item.title }}</a>
  {% endfor %}
</div>