<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Welcome!{% endblock %}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="{{ asset('img/favicon16.ico') }}"/>
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,600,700,800,900|Oswald:300,400,500,600,700" rel="stylesheet">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link href="{{ asset('css/jquery.mmenu.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ asset('css/main.min.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ asset('css/analytics-section.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ asset('css/news-page.css') }}" rel="stylesheet" type="text/css" />
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  {% block stylesheets %}{% endblock %}
</head>
<body>
  {% block header %}{% include 'blocks/header.html.twig' %}{% endblock %}
  {% block content %}{% endblock %}
  {% block footer %}{% include 'blocks/footer.html.twig' %}{% endblock %}
  <div class="backtotop"> </div>
  {% block javascripts %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{{ asset('js/slick.min.js') }}"></script>
    <script src="{{ asset('js/lightbox.js') }}"></script>
    <script src="{{ asset('js/jquery.easydropdown.js') }}"></script>
    <script src="{{ asset('js/jquery.mmenu.js') }}"></script>
    <script src="{{ asset('js/main.min.js') }}"></script>
  {% endblock %}
</body>
</html>
