{% if menu is not null and menu|length > 0 %}
  {% import 'menu/menu_tree_macro/footer_menu_tree_macro.html.twig' as tree %}
  {% set currentPath = app.request.requestUri %}
  {{ tree.menu(menu, '') }}
{% endif %}
