<div class="center">
  <div class="column">
    <div class="column-item">
      <a href="/" class="logo">
        <img src="{{ asset('img/logo.png') }}" alt="">
      </a>
    </div>
    <div class="column-item">
      {% if Desktop is not null and Desktop|length > 0 %}
        {% import 'menu/menu_tree_macro/header_desktop_menu_tree_macro.html.twig' as tree %}
        {% set currentPath = app.request.requestUri %}
        {{ tree.menu(request,Desktop, '') }}
      {% endif %}

      <div id="mmenu-icon" class="nav__btn"></div>
      <nav id="my-menu">
        {% if Mobile is not null and Mobile|length > 0 %}
          {% import 'menu/menu_tree_macro/header_mobile_menu_tree_macro.html.twig' as tree %}
          {% set currentPath = app.request.requestUri %}
          {{ tree.menu(Mobile, '') }}
        {% endif %}
      </nav>
    </div>
  </div>
</div>