{% if items is not null and items|length > 0 %}
  {% import 'menu/menu_tree_macro/sub_menu_about_page_menu_tree_macro.html.twig' as tree %}
  {% set currentPath = app.request.requestUri %}
  {{ tree.menu(request, menu_title, procreator, items, '') }}
{% endif %}
